# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [52]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [53]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  -87.841272 -109.082004   26.071399 -171.493778
B   46.018816  276.677091   91.062681 -120.049413
C  191.715789  -41.368976 -162.223348 -145.954080
D   92.147799    2.442936  117.615231 -163.224563
E  -93.866297  -73.906912  -51.191979  -53.666755
F    4.159397 -146.709163   -1.413302  -63.215761
G  152.174179   73.776074  103.864609   -5.999864
H  -14.181854   25.507895 -127.051324  110.200209
I -161.226365   -4.973924   -9.904905  -61.414506

In [54]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [55]:
df['coluna1'] = df['coluna1'].astype(int)

In [56]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [57]:
df['coluna3'] = df['coluna3'].astype(str)

In [58]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [59]:
df

   coluna1     coluna2              coluna3     coluna4
A      -87 -109.082004    26.07139887655862 -171.493778
B       46  276.677091     91.0626811884716 -120.049413
C      191  -41.368976  -162.22334786401584 -145.954080
D       92    2.442936   117.61523136646446 -163.224563
E      -93  -73.906912  -51.191979352381104  -53.666755
F        4 -146.709163  -1.4133023325250536  -63.215761
G      152   73.776074   103.86460861473796   -5.999864
H      -14   25.507895  -127.05132425408175  110.200209
I     -161   -4.973924   -9.904904790108043  -61.414506

## Acrescentando dados faltantes na tabela

In [60]:
df.iloc[4,2]

'-51.191979352381104'

In [61]:
df.iloc[4,2] = np.nan

In [62]:
df

   coluna1     coluna2              coluna3     coluna4
A      -87 -109.082004    26.07139887655862 -171.493778
B       46  276.677091     91.0626811884716 -120.049413
C      191  -41.368976  -162.22334786401584 -145.954080
D       92    2.442936   117.61523136646446 -163.224563
E      -93  -73.906912                  NaN  -53.666755
F        4 -146.709163  -1.4133023325250536  -63.215761
G      152   73.776074   103.86460861473796   -5.999864
H      -14   25.507895  -127.05132425408175  110.200209
I     -161   -4.973924   -9.904904790108043  -61.414506

In [63]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [64]:
df

   coluna1     coluna2              coluna3     coluna4
A    -87.0 -109.082004    26.07139887655862 -171.493778
B      NaN  276.677091     91.0626811884716 -120.049413
C    191.0  -41.368976  -162.22334786401584 -145.954080
D      NaN    2.442936   117.61523136646446 -163.224563
E      NaN  -73.906912                  NaN         NaN
F      4.0 -146.709163  -1.4133023325250536  -63.215761
G      NaN   73.776074   103.86460861473796   -5.999864
H    -14.0   25.507895  -127.05132425408175  110.200209
I      NaN   -4.973924   -9.904904790108043         NaN

In [65]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [66]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [67]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [68]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [69]:
df[df['coluna1'].isna()]

   coluna1     coluna2             coluna3     coluna4
B      NaN  276.677091    91.0626811884716 -120.049413
D      NaN    2.442936  117.61523136646446 -163.224563
E      NaN  -73.906912                 NaN         NaN
G      NaN   73.776074  103.86460861473796   -5.999864
I      NaN   -4.973924  -9.904904790108043         NaN

In [70]:
df[~df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
A    -87.0 -109.082004    26.07139887655862 -171.493778
C    191.0  -41.368976  -162.22334786401584 -145.954080
F      4.0 -146.709163  -1.4133023325250536  -63.215761
H    -14.0   25.507895  -127.05132425408175  110.200209

In [71]:
df['coluna1']

A    -87.0
B      NaN
C    191.0
D      NaN
E      NaN
F      4.0
G      NaN
H    -14.0
I      NaN
Name: coluna1, dtype: float64

In [72]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [73]:
df['coluna1'].isna().sum()

5

In [74]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [75]:
df['coluna2']

A   -109.082004
B    276.677091
C    -41.368976
D      2.442936
E    -73.906912
F   -146.709163
G     73.776074
H     25.507895
I     -4.973924
Name: coluna2, dtype: float64

In [76]:
df['coluna2'].isna().sum()

0

In [99]:
percentage = round(((df.isnull().sum() / len(df)) * 100), 2)
percentage

coluna1    55.56
coluna2     0.00
coluna3    11.11
coluna4    22.22
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [78]:
df['coluna1']

A    -87.0
B      NaN
C    191.0
D      NaN
E      NaN
F      4.0
G      NaN
H    -14.0
I      NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [79]:
df['coluna1'].fillna(0)

A    -87.0
B      0.0
C    191.0
D      0.0
E      0.0
F      4.0
G      0.0
H    -14.0
I      0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [80]:
df['coluna1']

A    -87.0
B      NaN
C    191.0
D      NaN
E      NaN
F      4.0
G      NaN
H    -14.0
I      NaN
Name: coluna1, dtype: float64

In [81]:
(-23.0-132.0+94.0+0)/4

-15.25

In [82]:
df['coluna1'].mean()

23.5

In [83]:
med_col1 = df['coluna1'].mean()

In [84]:
df['coluna1'].fillna(med_col1)

A    -87.0
B     23.5
C    191.0
D     23.5
E     23.5
F      4.0
G     23.5
H    -14.0
I     23.5
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [85]:
df['coluna1']

A    -87.0
B      NaN
C    191.0
D      NaN
E      NaN
F      4.0
G      NaN
H    -14.0
I      NaN
Name: coluna1, dtype: float64

In [86]:
df['coluna1'].sort_values()

A    -87.0
H    -14.0
F      4.0
C    191.0
B      NaN
D      NaN
E      NaN
G      NaN
I      NaN
Name: coluna1, dtype: float64

In [87]:
(-77-33)/2

-55.0

In [88]:
df['coluna1'].median()

-5.0

In [89]:
mediana_col1 = df['coluna1'].median()

In [90]:
df['coluna1'].fillna(mediana_col1)

A    -87.0
B     -5.0
C    191.0
D     -5.0
E     -5.0
F      4.0
G     -5.0
H    -14.0
I     -5.0
Name: coluna1, dtype: float64

In [91]:
df['coluna1'].fillna(method='ffill')

C:\Users\Soldado\AppData\Local\Temp\ipykernel_16012\110958190.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['coluna1'].fillna(method='ffill')

A    -87.0
B    -87.0
C    191.0
D    191.0
E    191.0
F      4.0
G      4.0
H    -14.0
I    -14.0
Name: coluna1, dtype: float64

In [92]:
df['coluna1'].dropna()

A    -87.0
C    191.0
F      4.0
H    -14.0
Name: coluna1, dtype: float64

In [93]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2              coluna3     coluna4
A    -87.0 -109.082004    26.07139887655862 -171.493778
C    191.0  -41.368976  -162.22334786401584 -145.954080
F      4.0 -146.709163  -1.4133023325250536  -63.215761
H    -14.0   25.507895  -127.05132425408175  110.200209

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [94]:
df_dup = df.append(df.loc['D':'H',:]).sort_index()
df_dup

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df_dup.drop_duplicates()

In [ ]:
df_dup.drop_duplicates(subset=['coluna1'])

In [ ]:
df_dup.duplicated()

In [ ]:
df_dup[df_dup.duplicated()]

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [100]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [101]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [102]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [103]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [104]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object