<img src="Group.png" alt="ebac-logo">

---

# **Módulo 01** | Python: Variáveis & Tipos de Dados
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Aulas**

## 1\. Introdução ao Google Colab

> Ferramenta web autogerênciada de cadernos (*notebooks*).

### **1.1. Ferramenta web**



*   Crie uma conta Google em [gmail.com](https://gmail.com);
*   Acesse o Google Colab através do endereço [colab.research.google.com](https://colab.research.google.com/).

### **1.2. Autogerênciada**



*   A Google provisiona uma máquina virtual para você;
*   A máquina virtual dura no máximo 12h.

### **1.3. Cadernos (*notebooks*)**

Um **caderno** é um documento *web* composto por um conjunto de elementos (células) de texto e código:


*   Células de **texto** podem ser editados com o editor da ferramenta, HTML ou Markdown; 
*   Células de **código** são exclusivamente para a linguagem de programação Python.

In [29]:
print("olá mundo!")

olá mundo!

## 2\. Variáveis

### **2.1. Definição**

Mecanismo de armazenamento volátil de dados, ou seja, dados salvos em pedacinhos da memória RAM do sistema computacional em uso (*notebook*, *mobile*, console de vídeo game, *smartwatch*, etc.).

In [30]:
idade = 30
print(idade)

idade = 27
print(idade)

nome = "andré"
print(nome)

30
27
andré

### **2.2. Tipos nativos**

**Tipos numéricos:** inteiros (`int`) e decimais (`float`):

In [31]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 0.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

1000
<class 'int'>
0.05
<class 'float'>

**Tipos de texto:** *strings* (`str`):

In [32]:
primeiro_nome = "André"

print(primeiro_nome)
print(type(primeiro_nome))

pais = 'Brasil'

print(pais)
print(type(pais))

André
<class 'str'>
Brasil
<class 'str'>

**Tipos lógicos:** booleanos (`bool`):

In [33]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

True
<class 'bool'>

**Tipo vazio** (`NoneType`):

In [34]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

### 2.3. Operations with variables

#### Operações com strings

In [35]:
# Concatenação de strings
string1 = "Olá"
string2 = " Mundo!"
string_concatenada = string1 + string2
print(string_concatenada)  # Saída: Olá Mundo!

# Repetição de strings
string = "Python"
string_repetida = string * 3
print(string_repetida)  # Saída: PythonPythonPython

# Fatiamento de strings
string = "Linguagem Python"
substring = string[8:15]
print(substring)  # Saída: Python

# Verificação de strings
string = "Python"
if "Py" in string:
  print("A string contém 'Py'")  # Saída: A string contém 'Py'

# Conversão de strings
numero = 123
string_numero = str(numero)
print(string_numero)  # Saída: 123

# Formatação de strings
nome = "João"
idade = 30
string_formatada = f"Meu nome é {nome} e tenho {idade} anos."
print(string_formatada)  # Saída: Meu nome é João e tenho 30 anos.

Olá Mundo!
PythonPythonPython
m Pytho
A string contém 'Py'
123
Meu nome é João e tenho 30 anos.

#### Operações matemáticas

In [36]:
def calcular(num1, num2, operação):
  if operação == "+":
    return num1 + num2
  elif operação == "-":
    return num1 - num2
  elif operação == "*":
    return num1 * num2
  elif operação == "/":
    if num2 == 0:
      return "Erro: Divisão por zero"
    else:
      return num1 / num2
  else:
    return "Operação inválida"

num1 = 3.0
num2 = 4.0
operação = "+"

resultado = calcular(num1, num2, operação)

print(f"Resultado: {resultado}")

Resultado: 7.0

#### Operações com booleanos

In [37]:
a = True
b = False

# Operador AND
print(a and b)  # False

# Operador OR
print(a or b)   # True

# Operador NOT
print(not a)    # False

# Operador XOR
print(a ^ b)    # True

False
True
False
True

## 3\. Números

### **3.1. Motivação**

Você precisa calcular o **ticket médio** diário `tkt` do seu restaurante. A métrica é calculada pela soma do valor das vendas `svv` de um mesmo dia dividido pela quantidade de vendas `sqv`, também de um mesmo dia.

$tkt = svv / sqv$

Esta é a sua planilha:

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Como podemos fazer este cálculo usando o Python?

### **3.2. Definição**

Armazenam **valores numéricos**: 

*   `10, 37, 500` (inteiros);
*   `0.333, 10.1` (decimais);
*   `1 + 2j` (complexos).

São dos tipos:

*   `int` (inteiros);
*   `float` (decimais);
*   `complex` (complexos).

In [38]:
print(type(37))
print(type(10.1))
print(type(1 + 2j))

<class 'int'>
<class 'float'>
<class 'complex'>

### **3.3. Operações**

As operações dos tipos numéricos são as quatro operações matemáticas fundamentais:

*   `+` (soma);
*   `-` (subtração);
*   `*` (multiplicação);
*   `/` (divisão).

Além de operações mais avançadas:

*   `//` (divisão inteira)
*   `**` (potência ou exponenciação);
*   `%` (resto de divisão).

**Exemplo**: Carrinho de compra de um *e-commerce*.

In [39]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)

1
2

In [40]:
qtd_items_carrinho_compra = 0

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

1
2

**Exemplo**: Total a pagar de um produto.

In [41]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco
print(total_a_pagar)

11.75

In [42]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

### **3.4. Conversão**

Podemos converter os tipos numéricos entre si utilizando o método nativo `int`, `float` e `complex`:

In [43]:
print(int(3.9))

3

In [44]:
print(float(10))

10.0

In [45]:
print(complex(1))

(1+0j)

### **3.5. Revisitando a motivação**

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|-|
| 19/01 | 153.98             | 3                |?|
| 20/01 | 337.01             | 7                |?|
| 23/01 | 295.33             | 5                |?|

Ticket médio diário do dia 19/01.

In [46]:
svv_19 = 153.98
sqv_19 = 3

tkt_19 = svv_19 / sqv_19
print(tkt_19)

51.32666666666666

Ticket médio diário do dia 20/01.

In [47]:
svv_20 = 337.01
sqv_20 = 7

tkt_20 = svv_20 / sqv_20
print(tkt_20)

48.144285714285715

Ticket médio diário do dia 23/01.

In [48]:
svv_23 = 295.33
sqv_23 = 5

tkt_23 = svv_23 / sqv_23
print(tkt_23)

59.065999999999995

Ticket médio

In [49]:
tkt = (tkt_19 + tkt_20 + tkt_23) / 3
print(tkt)

52.8456507936508

## 4\. *Strings*

### **4.1. Motivação**

A empresa que você trabalha adquiriu uma *startup* de logística. Você precisa identificar todos endereços que são comum a ambas. Na sua empresa, você armazena a latitude e longitude dos endereços em duas variáveis `lat` e `lon`, já a *startup* adquirida em uma única variável `latlon`.

In [50]:
# sua empresa
lat = '-22.005320'
lon = '-47.891040'

# startup adquirida
latlon = '-22.005320;-47.891040'

Como podemos normalizar a forma com que as latitudes e longitudes são armazenadas para possam ser comparadas?

### **4.2. Definição**

Armazenam **textos**:


*   `c`, `EBAC`, `Andre Perez, 20 anos` (texto)

São do tipo `str`:

In [51]:
nome_aula = 'Aula 04, Módulo 01, Strings'

print(nome_aula)
print(type(nome_aula))

Aula 04, Módulo 01, Strings
<class 'str'>

In [52]:
string_vazia = ""

print(string_vazia)
print(type(string_vazia))

<class 'str'>

### **4.3. Operações**

As operações de variáveis do tipo *string* são:


*   `+` (concatenação).

**Exemplo:** Nome completo.

In [53]:
nome = 'Andre Marcos'
sobrenome = 'Perez'

apresentacao = 'Olá, meu nome é ' + nome + ' ' + sobrenome + '.'
print(apresentacao)

Olá, meu nome é Andre Marcos Perez.

Uma outra forma de concatenar strings é utilizar operações de formatação:

In [54]:
nome = 'Andre Marcos'
sobrenome = 'Perez'

apresentacao = f'Olá, meu nome é {nome} {sobrenome}.'
print(apresentacao)

Olá, meu nome é Andre Marcos Perez.

Outra operação muito utilizada é a de fatiamento (*slicing*):

**Exemplo**: Informações de email.

In [55]:
email = 'andre.perez@gmail.com'



Fatiamento fixo:

|a|n|d|r|e|.|p|e|r|e|z|@|g|m|a|i|l|.|c|o|m|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|

In [56]:
print('0: ' + email[0])
print('11: ' + email[11])

0: a
11: @

In [57]:
print('-1: ' + email[-1])
print('-2: ' + email[-2])

-1: m
-2: o



Fatiamento por intervalo:

|a|n|d|r|e|.|p|e|r|e|z|@|g|m|a|i|l|.|c|o|m|
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|

In [58]:
email_usuario = email[0:11]
print(email_usuario)

andre.perez

In [59]:
email_provedor = email[12:21]
print(email_provedor)

gmail.com

### **4.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com *strings*:

In [60]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

In [61]:
# maiusculo: string.upper()
print(endereco.upper())

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.

In [62]:
# posicao: string.find(substring)
posicao = endereco.find('Brasil')
print(posicao)

46

In [63]:
# substituição: string.replace(antigo, novo)
print(endereco.replace('Avenida', 'Av'))

Av Paulista, 1811, São Paulo, São Paulo, Brasil.

### **4.5. Conversão**

Podemos converter *strings* em tipos numéricos e vice-versa.

In [64]:
idade = 19
print(type(idade))

idade = str(idade)
print(type(idade))

<class 'int'>
<class 'str'>

In [65]:
faturamento = 'R$ 35 mi'
print(faturamento)
print(type(idade))

faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

R$ 35 mi
<class 'str'>
35
<class 'int'>

### **4.6. Revisitando a motivação**

Encontrando a posição do caracter `;` de divisão das *strings* de latitude e longitude da variável da startup:

In [66]:
posicao_char_divisao = latlon.find(';')
print(posicao_char_divisao)

10

Extraindo a latitude:

In [67]:
lat_startup = latlon[0:posicao_char_divisao]
print(lat_startup)

-22.005320

Extraindo a longitude:

In [68]:
lon_startup = latlon[posicao_char_divisao+1:len(latlon)]
print(lon_startup)

-47.891040

## 5\. Boleanos

### **5.1. Motivação**

Em *websites* (redes sociais, *e-commerce*, corporativos, etc.) é comum o uso de sistemas de controle de acesso, o famoso *login*. Em geral, nestes sistemas um usuário fornece dois dados: `usuario` e `senha`:

In [69]:
usuario = 'andre.perez'
senha = 'andre123'

Do lado do servidor, o *backend* do *website* tem armazenado os dados de usuário e senha fornecidas pelo usuário no momento do cadastro: `usuario_cadastro` e `senha_cadastro`:

In [70]:
usuario_cadastro = 'andre.perez'
senha_cadastro = 'andre321'

Como comparamos se as *strings* (`usuario`, `usuario_cadastro`) e (`senha`,`senha_cadastro`) são iguais para conceder ou bloquear o acesso do usuário?

### **5.2. Definição**

Armazenam **valores lógicos**:

*   `True` (verdadeiro);
*   `False` (falso).

In [71]:
verdadeiro = True
print(verdadeiro)

True

In [72]:
falso = False
print(falso)

False

São do tipo `bool`.

In [73]:
print(type(True))

<class 'bool'>

São resultados de comparações lógicas. Os operadores de comparação lógica são:

*   `>` (maior);
*   `<` (menor);
*   `==` (igual);
*   `>=` (maior ou igual);
*   `<=` (menor ou igual);
*   `!=` (diferente).

**Exemplo:** Caixa eletrônico

In [74]:
saldo_em_conta = 200
valor_do_saque = 100

pode_executar_saque = valor_do_saque <= saldo_em_conta
print(pode_executar_saque)

True

**Exemplo:** Cartão de crédito

In [75]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '010'

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

False

### **5.3. Operações**

As operações de variáveis booleanas são: 

* `|` (operador ou)
* `&` (operador e)
* `not` (operador não)


O conjunto de resultados de operações lógicas geralmente é resumido em uma tabela chamada "tabela da verdade":

| A        | B        | | | A OR B   | | A AND B  | | NOT A    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

**Exemplo**: Tabela da verdade do operador `|` (ou).

In [76]:
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

**Exemplo**: Tabela da verdade do operador `&` (e).

In [77]:
print(True & True)
print(True & False)
print(False & False)
print(False & True)

True
False
False
False

**Exemplo**: Tabela da verdade do operador `not` (não).

In [78]:
print(not True)
print(not False)

False
True

### **5.4. Conversão**

Podemos converter tipos numéricos e *strings* para booleanos através do método nativo `bool`:

In [79]:
idade = 19
tipo_sangue = 'O-'
filhos = 0
telefone_fixo = None
telefone_fixo = ''

print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo))

True
True
False
False
False

### **5.5. Revisitando a motivação**

Compara se os dados fornecidos pelo usuário são iguais aos dados do cadastro:

In [80]:
usuario_igual = usuario == usuario_cadastro
senha_igual = senha == senha_cadastro

print(usuario_igual)
print(senha_igual)

True
False

Decide se concede o acesso:

In [81]:
conceder_acesso = usuario_igual & senha_igual
print(conceder_acesso)

False

## 6. Operations with data structures

### 6.1.1. Operações com Listas - Parte 01

In [82]:
# Criar uma lista
minha_lista = [1, 2, 3, 4, 5]

# Adicionar um elemento no final da lista
minha_lista.append(6)

# Remover o último elemento da lista
minha_lista.pop()

# Inserir um elemento em uma posição específica
minha_lista.insert(2, 7)

# Remover um elemento específico
minha_lista.remove(3)

# Concatenar duas listas
outra_lista = [8, 9, 10]
lista_combinada = minha_lista + outra_lista

# Ordenar a lista
minha_lista.sort()

# Inverter a lista
minha_lista.reverse()

# Encontrar o índice de um elemento
indice = minha_lista.index(5)

# Contar o número de ocorrências de um elemento
contagem = minha_lista.count(2)

# Verificar se um elemento está na lista
elemento_na_lista = 2 in minha_lista

# Copiar uma lista
copia_da_lista = minha_lista.copy()

### 6.1.2. Operações com Listas - Parte 02

#### Como classificar uma lista python com base na ordem de outra?

In [83]:
lista_de_referência = ['b', 'a', 'c']
lista_a_ordenar = ['ciao', 'aondo', 'bello']

# Ordena a lista_a_ordenar com base na ordem da lista_de_referência
lista_ordenada = sorted(lista_a_ordenar, key=lambda x: lista_de_referência.index(x[0]))

print(lista_ordenada)

['bello', 'aondo', 'ciao']

In [84]:
lista_de_referência = [1, 2, 3, 4, 5]
lista_a_ordenar = [3, 1, 2]

# Ordena a lista_a_ordenar com base na ordem da lista_de_referência
lista_ordenada = sorted(lista_a_ordenar, key=lambda x: lista_de_referência.index(x))

print(lista_ordenada)

[1, 2, 3]

In [85]:
lista_a_ordenar = [3, 1, 4, 2]
lista_de_referência = [2, 1, 3, 4]

# Usa a função zip() para unir as duas listas e depois ordena com base na lista_de_referência
lista_ordinata = [x for _, x in sorted(zip(lista_de_referência, lista_a_ordenar))]

print("Lista ordenada com base na lista de referência:", lista_ordinata)

Lista ordenada com base na lista de referência: [1, 3, 4, 2]

#### Repetição de elementos

In [86]:
lista = [1, 2, 3, 4, 2, 2, 3, 1, 2]

# Conta o número de vezes que o elemento 2 se repetiu na lista
contegio = lista.count(2)

print("O número de vezes que o elemento 2 se repetiu na lista é:", contegio)

O número de vezes que o elemento 2 se repetiu na lista é: 4

In [87]:
from collections import Counter

lista = [1, 2, 3, 4, 2, 2, 3, 1, 2]

# Conta o número de repetições de cada elemento na lista
conteggio_elementi = Counter(lista)

print("Contagem dos elementos na lista:", conteggio_elementi)

Contagem dos elementos na lista: Counter({2: 4, 1: 2, 3: 2, 4: 1})

#### Agrupamento

In [88]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [4, 5, 6, 7, 8]

intersecao = list(set(lista1) & set(lista2))

print("Elementos que são a interseção entre as duas listas:", intersecao)

Elementos que são a interseção entre as duas listas: [4, 5]

In [89]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [4, 5, 6, 7, 8]

intersecao = list(set(lista1).intersection(lista2))

print("Elementos que são a interseção entre as duas listas:", intersecao)

Elementos que são a interseção entre as duas listas: [4, 5]

In [90]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [2, 4, 6]

nova_lista = [x for x in lista1 if x not in lista2]

print("Nova lista após remover os elementos de lista2:", nova_lista)

Nova lista após remover os elementos de lista2: [1, 3, 5]

In [91]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [4, 5, 6, 7, 8]

diferenca_lista1 = list(set(lista1) - set(lista2))
diferenca_lista2 = list(set(lista2) - set(lista1))

print("Elementos diferentes em lista1:", diferenca_lista1)
print("Elementos diferentes em lista2:", diferenca_lista2)

Elementos diferentes em lista1: [1, 2, 3]
Elementos diferentes em lista2: [8, 6, 7]

#### For dentro de uma lista

In [92]:
lista_original = [1, 2, 3, 4, 5]

# Usando uma compreensão de lista para dobrar cada elemento
lista_dobrada = [x * 2 for x in lista_original]

print(lista_dobrada)  # Saída: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### 6.2.1. Operações com Dicionários - Parte 01

In [93]:
# Criando um dicionário
meu_dicionario = {"nome": "João", "idade": 30, "cidade": "São Paulo"}

# Acessando valores por chave
nome = meu_dicionario["nome"]
idade = meu_dicionario["idade"]

# Adicionando um novo par chave-valor
meu_dicionario["profissão"] = "Engenheiro"

# Modificando um valor existente
meu_dicionario["idade"] = 31

# Verificando se uma chave existe
if "cidade" in meu_dicionario:
  print("A chave 'cidade' existe")

# Excluindo um par chave-valor
del meu_dicionario["cidade"]

# Excluindo utilizando pop():
meu_dicionario = {'a': 1, 'b': 2, 'c': 3}

# Removendo e retornando o valor associado à chave 'b'
valor_removido = meu_dicionario.pop('b')

print(meu_dicionario)  # Saída: {'a': 1, 'c': 3}
print(valor_removido)  # Saída: 2

# Iterando sobre as chaves
for chave in meu_dicionario:
  print('Iterando sobre as chaves')
  print(chave)

# Iterando sobre os valores
for valor in meu_dicionario.values():
  print('Iterando sobre os valores')
  print(valor)

# Pegue os valores e as chaves
print('Pegue os valores e as chaves')
meu_dicionario = {"a": 1, "b": 2, "c": 3}

# Obter as chaves
chaves = meu_dicionario.keys()
print("Chaves:", chaves)

# Obter os valores
valores = meu_dicionario.values()
print("Valores:", valores)

meu_dicionario = {"a": 1, "b": 2, "c": 3}

# Iterar sobre chaves e valores simultaneamente
for chave, valor in meu_dicionario.items():
    print("Chave:", chave, "| Valor:", valor)


# Iterando sobre os pares chave-valor
for chave, valor in meu_dicionario.items():
  print(f"{chave}: {valor}")

# Modificar um elemento em um dicionário
print('Modificar um elemento em um dicionário')
meu_dicionario = {'a': 1, 'b': 2, 'c': 3}

# Modificando o valor associado à chave 'b'
meu_dicionario['b'] = 42

print(meu_dicionario)  # Saída: {'a': 1, 'b': 42, 'c': 3}


# Copiando um dicionário
novo_dicionario = meu_dicionario.copy()

# Fundindo dois dicionários
dicionario1 = {"a": 1, "b": 2}
dicionario2 = {"c": 3, "d": 4}
dicionario1.update(dicionario2)

# Limpando um dicionário
meu_dicionario.clear()

A chave 'cidade' existe
{'a': 1, 'c': 3}
2
Iterando sobre as chaves
a
Iterando sobre as chaves
c
Iterando sobre os valores
1
Iterando sobre os valores
3
Pegue os valores e as chaves
Chaves: dict_keys(['a', 'b', 'c'])
Valores: dict_values([1, 2, 3])
Chave: a | Valor: 1
Chave: b | Valor: 2
Chave: c | Valor: 3
a: 1
b: 2
c: 3
Modificar um elemento em um dicionário
{'a': 1, 'b': 42, 'c': 3}

#### Posição de um elemento

Em um dicionário Python, não há uma noção direta de "posição" de um elemento, porque os dicionários são estruturas de dados sem ordem definida. Em outras palavras, os elementos em um dicionário não têm uma posição fixa como em uma lista ou tupla, onde você pode se referir a um elemento pelo seu índice.

No entanto, você pode encontrar a chave associada a um determinado valor em um dicionário. Aqui está como você pode fazer isso:

In [94]:
meu_dicionario = {'a': 1, 'b': 2, 'c': 3, 'd': 2}

# Encontrar a chave(s) associada(s) ao valor 2
chaves = [chave for chave, valor in meu_dicionario.items() if valor == 2]

print(chaves)  # Saída: ['b', 'd']

['b', 'd']

### 6.2.2. Operações com Dicionários - Parte 02

#### Como ordenar um dicionário com base nas chaves

In [95]:
# Ordenar com base nas chaves:
meu_dicionario = {'z': 3, 'x': 1, 'y': 2}

# Ordenar o dicionário pelas chaves
dicionario_ordenado_chaves = dict(sorted(meu_dicionario.items()))

print(dicionario_ordenado_chaves)  # Saída: {'x': 1, 'y': 2, 'z': 3}

{'x': 1, 'y': 2, 'z': 3}

#### Como ordenar um dicionário com base nos valores

In [96]:
# Ordenar com base nos valores:
meu_dicionario = {'z': 3, 'x': 1, 'y': 2}

# Ordenar o dicionário pelos valores
dicionario_ordenado_valores = dict(sorted(meu_dicionario.items(), key=lambda item: item[1]))

print(dicionario_ordenado_valores)  # Saída: {'x': 1, 'y': 2, 'z': 3}

{'x': 1, 'y': 2, 'z': 3}

In [97]:
import collections

meu_dicionario = {'z': 3, 'x': 1, 'y': 2}

# Criar um OrderedDict ordenado pelas chaves
dicionario_ordenado_chaves = collections.OrderedDict(sorted(meu_dicionario.items()))

print(dicionario_ordenado_chaves)  # Saída: OrderedDict([('x', 1), ('y', 2), ('z', 3)])

OrderedDict([('x', 1), ('y', 2), ('z', 3)])

#### Como ordenar um dicionário com base em uma lista

In [98]:
# Para ordenar um dicionário com base em uma lista

meu_dicionario = {'banana': 3, 'maçã': 1, 'laranja': 2}
ordem_chaves = ['laranja', 'banana', 'maçã']

dicionario_ordenado = {chave: meu_dicionario[chave] for chave in ordem_chaves}
print(dicionario_ordenado)

import collections
dicionario_ordenado = collections.OrderedDict((chave, meu_dicionario[chave]) for chave in ordem_chaves)
print(dicionario_ordenado)

{'laranja': 2, 'banana': 3, 'maçã': 1}
OrderedDict([('laranja', 2), ('banana', 3), ('maçã', 1)])

In [99]:
meu_dicionario = {'banana': 3, 'maçã': 1, 'laranja': 2}

# Ordenando o dicionário pelas chaves
dicionario_ordenado = dict(sorted(meu_dicionario.items(), key=lambda item: item[1]))

print(dicionario_ordenado)

{'maçã': 1, 'laranja': 2, 'banana': 3}

In [100]:
meu_dicionario = {'banana': 3, 'maçã': 1, 'laranja': 2}
ordem_chaves = ['laranja', 'banana', 'maçã']

# Ordenando o dicionário com base na lista de chaves usando sorted() e lambda
dicionario_ordenado = dict(sorted(meu_dicionario.items(), key=lambda item: ordem_chaves.index(item[0])))

print(dicionario_ordenado)

{'laranja': 2, 'banana': 3, 'maçã': 1}

#### Interseção de dois ou mais dicionários com base nas chaves

In [101]:
dicionario1 = {'a': 1, 'b': 2, 'c': 3}
dicionario2 = {'b': 4, 'c': 5, 'd': 6}
dicionario3 = {'c': 7, 'd': 8, 'e': 9}

# Encontrando a interseção das chaves dos dicionários
intersecao_chaves = set(dicionario1.keys()) & set(dicionario2.keys()) & set(dicionario3.keys())

# Criando um novo dicionário contendo apenas as chaves em comum e seus valores correspondentes
dicionario_intersecao = {chave: dicionario1[chave] for chave in intersecao_chaves}

print(dicionario_intersecao)

{'c': 3}

In [102]:
intersecao_chaves = set(dicionario1.keys()) & set(dicionario2.keys()) & set(dicionario3.keys())
print(intersecao_chaves)

{'c'}

#### Interseção de dois ou mais dicionários com base nos valores

In [103]:
from collections import Counter

# Definindo os dicionários
dicionario1 = {'a': 1, 'b': 2, 'c': 3}
dicionario2 = {'b': 2, 'c': 3, 'd': 4}
dicionario3 = {'c': 3, 'd': 4, 'e': 5}

# Convertendo os valores dos dicionários em conjuntos para encontrar a interseção
valores1 = set(dicionario1.values())
valores2 = set(dicionario2.values())
valores3 = set(dicionario3.values())

# Encontrando a interseção dos valores dos dicionários
intersecao_valores = valores1 & valores2 & valores3
print(intersecao_valores)

# Criando um novo dicionário contendo apenas os pares chave-valor com valores em comum
dicionario_intersecao = {chave: valor for chave, valor in dicionario1.items() if valor in intersecao_valores}

print(dicionario_intersecao)

{3}
{'c': 3}

#### Difediferença entre dois ou mais dicionários com base nas chaves

In [104]:
dicionario1 = {'a': 1, 'b': 2, 'c': 3}
dicionario2 = {'b': 4, 'c': 5, 'd': 6}

# Encontrando a diferença das chaves dos dicionários
diferenca_chaves = set(dicionario1.keys()) - set(dicionario2.keys())

print(diferenca_chaves)  # Saída: {'a'}

{'a'}

In [105]:
diferenca_chaves = set(dicionario1.keys()) - set(dicionario2.keys()) - set(dicionario3.keys())
print(diferenca_chaves)

{'a'}

#### Difediferença entre dois ou mais dicionários com base nos valores

In [106]:
dicionario1 = {'a': 1, 'b': 2, 'c': 3}
dicionario2 = {'b': 2, 'c': 4, 'd': 5}

# Encontrando a diferença dos valores dos dicionários
diferenca_valores = set(dicionario1.items()) - set(dicionario2.items())

print(diferenca_valores)  # Saída: {('a', 1), ('c', 3)}

{('c', 3), ('a', 1)}

In [107]:
diferenca_valores = set(dicionario1.items()) - set(dicionario2.items()) - set(dicionario3.items())
print(diferenca_valores)

{('a', 1)}

### 6.3. Operações com Tuplas

In [108]:
# Criando uma tupla
tupla = (1, 2, 3, 4, 5)

# Acessando elementos da tupla
print(tupla[0])  # Saída: 1
print(tupla[2:4])  # Saída: (3, 4)

# Concatenando tuplas
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)  # Saída: (1, 2, 3, 4, 5, 6)

# Repetindo elementos da tupla
tupla_repetida = tupla * 2
print(tupla_repetida)  # Saída: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

# Verificando se um elemento está na tupla
print(2 in tupla)  # Saída: True
print(6 in tupla)  # Saída: False

# Encontrando o índice de um elemento
print(tupla.index(3))  # Saída: 2

# Contando a quantidade de vezes que um elemento aparece
print(tupla.count(1))  # Saída: 1

1
(3, 4)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
False
2
1

---

# **Conteúdo Extra**

### Documentação Google Colab

 - [Google Colab FAQ](https://research.google.com/colaboratory/faq.html): Perguntas mais frequentes sobre o Google Colab.

### Documentação Python


 - [Tipos Nativos](https://docs.python.org/pt-br/3/library/stdtypes.html): Documentação oficial dos tipos de variáveis nativas da linguagem Python;
 - [Métodos de String](https://www.w3schools.com/python/python_ref_string.asp): Lista de métodos de *strings* com exemplos.

### Cadernos

 - [JupyterLab](https://jupyter.org/): Projeto original de de cadernos;
 - [GCP Notebooks](https://cloud.google.com/ai-platform-notebooks): Solução autogerenciada de cadernos da empresa Google Cloud Platform (GCP);
 - [Azure Notebooks](https://notebooks.azure.com/): Solução autogerenciada de cadernos da empresa Microsoft Azure;
 - [Databricks Notebooks](https://databricks.com/product/collaborative-notebooks): Solução autogerenciada de cadernos da empresa Databricks;
 - [AWS Sagemaker Notebooks](https://aws.amazon.com/pt/sagemaker/): Solução autogerenciada de cadernos da empresa Amazon Web Services (AWS).

In [109]:
linha10 = ['Mas', 'eis', 'que', 'chega', 'a', 'roda', 'viva']

# Imprimindo resposta
imprimindo_resposta = []
total = 0
vez = 0

for palavra in linha10:
    total = total + 1

for palavra in linha10:
    vez = vez + 1
    if vez < total:
     cont = palavra + '-'
     imprimindo_resposta.append(cont)
    else:
       imprimindo_resposta.append(palavra)

print(imprimindo_resposta)

['Mas-', 'eis-', 'que-', 'chega-', 'a-', 'roda-', 'viva']

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 02** | Python: Estruturas de Dados
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Listas;</li>
  <li>Conjuntos;</li>
  <li>Dicionários.</li>
</ol>

---

# **Aulas**

<img src="Group2.png" alt="ebac-logo">

## 1\. Listas

### **1.1. Motivação**

O aplicativo do seu banco registra toda a sua movimentação financeira. O final do dia, o app consolida o saldo final para que você possa controlar sua vida financeira.

In [110]:
dia_11_saldo_inicial = 1000

In [111]:
dia_11_transacao_1 = 243
dia_11_transacao_2 = -798.58
dia_11_transacao_3 = 427.12
dia_11_transacao_4 = -10.91

In [112]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacao_1 + dia_11_transacao_2 + dia_11_transacao_3 + dia_11_transacao_4

In [113]:
print(dia_11_saldo_final)

860.63

Será que exista uma forma melhor de armazenar as transações diárias?

### **1.2. Definição**

Armazenam sequências mutáveis e ordenadas de valores. São do tipo `list`:

In [114]:
usuario_web = ['André Perez', 'andre.perez', 'andre123', 'andre.perez@gmail.com']

print(usuario_web)
print(type(usuario_web))

['André Perez', 'andre.perez', 'andre123', 'andre.perez@gmail.com']
<class 'list'>

In [115]:
idade = 20
saldo_em_conta = 723.15
usuario_loggedin = True

usuario_web = ['André Perez', idade, 'andre.perez', 'andre123', 'andre.perez@gmail.com', saldo_em_conta, usuario_loggedin]

print(usuario_web)
print(type(usuario_web))

['André Perez', 20, 'andre.perez', 'andre123', 'andre.perez@gmail.com', 723.15, True]
<class 'list'>

### **1.3. Operações**

As operações da estrutura do tipo *list* são:


*   `+` (concatenação).

**Exemplo**: Fabricantes de *hardware* mobile

In [116]:
fabricantes_mobile_china = ['xiaomi', 'huawei']
fabricantes_mobile_eua = ['apple', 'motorola']
fabricantes_mobile = fabricantes_mobile_china + fabricantes_mobile_eua

print(fabricantes_mobile_china)
print(fabricantes_mobile_eua)
print(fabricantes_mobile)

['xiaomi', 'huawei']
['apple', 'motorola']
['xiaomi', 'huawei', 'apple', 'motorola']

Outra operação muito utilizada é a de fatiamento (*slicing*), semelhante ao de *strings*:

Fatiamento fixo:

In [117]:
print(f'0: {fabricantes_mobile[0]}')
print(f'-1: {fabricantes_mobile[-1]}')

0: xiaomi
-1: motorola

Fatiamento por intervalo:

In [118]:
fabricantes_mobile_china = fabricantes_mobile[0:2]
fabricantes_mobile_eua = fabricantes_mobile[2:len(fabricantes_mobile)]

print('china: ' + str(fabricantes_mobile_china))
print('eua: ' + str(fabricantes_mobile_eua))

china: ['xiaomi', 'huawei']
eua: ['apple', 'motorola']

Podemos adicionar elementos a uma posição específica da lista:

In [119]:
print(fabricantes_mobile)

['xiaomi', 'huawei', 'apple', 'motorola']

In [120]:
fabricantes_mobile[2] = 'nokia'
print(fabricantes_mobile)

['xiaomi', 'huawei', 'nokia', 'motorola']

### **1.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com listas.

In [121]:
juros = [0.05, 0.07, 0.02, 0.04, 0.08]
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08]

In [122]:
# inserir um elemento sem substituir: list.insert(index, val)
juros.insert(0, 0.10)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08]

In [123]:
# inserir um elemento no fim da lista: list.append(val)
juros.append(0.09)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

In [124]:
# remover um elemento pelo valor: list.remove(val)
juros.remove(0.1)
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

In [125]:
# remover um elemento pelo índice: list.pop(val)
terceiro_juros = juros.pop(2)
print(terceiro_juros)

0.02

In [126]:
print(juros)

[0.05, 0.07, 0.04, 0.08, 0.09]

### **1.5. Conversão**

Podemos converter alguns tipos de variáveis em listas, como *strings*.

In [127]:
email = 'andre.perez@gmail.com'
caracteres_email = list(email)

print(email)
print(caracteres_email)

andre.perez@gmail.com
['a', 'n', 'd', 'r', 'e', '.', 'p', 'e', 'r', 'e', 'z', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm']

### **1.6. Revisitando a motivação**

In [128]:
dia_11_saldo_inicial = 1000

In [129]:
dia_11_transacoes = []

dia_11_transacoes.append(243)
dia_11_transacoes.append(-798.58)
dia_11_transacoes.append(427.12)
dia_11_transacoes.append(-10.91)

print(dia_11_transacoes)

[243, -798.58, 427.12, -10.91]

In [130]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacoes[0] + dia_11_transacoes[1] + dia_11_transacoes[2] + dia_11_transacoes[3]
print(dia_11_saldo_final)

860.63

<img src="Group2.png" alt="ebac-logo">

## 2\. Conjuntos

### **2.1. Motivação**

Você trabalha como analista de dados de mídias sociais e precisa descobrir todas as *hashtags* que alcançaram o *top trending* do Twitter durante uma semana. Você já conseguiu as *hashtags* por dia da semana:

In [131]:
hashtags_seg = ['#tiago', '#joao', '#bbb']
hashtags_ter = ['#sarah', '#bbb', '#fiuk']
hashtags_qua = ['#gil', '#thelma', '#lourdes']
hashtags_qui = ['#rafa', '#fora', '#danilo']
hashtags_sex = ['#juliete', '#arthur', '#bbb']

Um simples concateção de listas fará com que a *hashtag* #bbb, entre outras, apareça mais de uma vez.

In [132]:
hashtags_semana = hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex
print(hashtags_semana)

['#tiago', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']

### **2.2. Definição**

Armazenam sequências imutáveis e desordenadas valores, sem repetição. São do tipo `set`:

In [133]:
frutas = {'banana', 'maca', 'uva', 'uva'}

print(frutas)
print(type(frutas))

{'maca', 'uva', 'banana'}
<class 'set'>

### **2.3. Operações**

As operações da estrutura do tipo *set* são:


*   `-` (diferença).

In [134]:
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

In [135]:
norte_europa_nao_escandivano = norte_europa - escandinavia
print(norte_europa_nao_escandivano)

{'reino unido', 'russia'}

In [136]:
escandivano_nao_norte_europa = escandinavia - norte_europa
print(escandivano_nao_norte_europa)

set()

### **2.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com conjuntos.

In [137]:
cursos = {'Exatas', 'Humanas', 'Biológicas'}
print(cursos)

{'Humanas', 'Exatas', 'Biológicas'}

In [138]:
# inserir um elemento no conjunto: set.add(val)
cursos.add('Saúde')
print(cursos)

{'Saúde', 'Humanas', 'Exatas', 'Biológicas'}

In [139]:
# remover um elemento no conjunto: set.remove(val)
cursos.remove('Saúde')
print(cursos)

{'Humanas', 'Exatas', 'Biológicas'}

### **2.5. Conversão**

Podemos converter conjuntos para lista e vice e versa.

In [140]:
times_paulistas = {'São Paulo', 'Palmeiras', 'Corinthians', 'Santos'}

print(times_paulistas)
print(type(times_paulistas))

{'Corinthians', 'São Paulo', 'Santos', 'Palmeiras'}
<class 'set'>

In [141]:
print(list(times_paulistas))
print(type(list(times_paulistas)))

['Corinthians', 'São Paulo', 'Santos', 'Palmeiras']
<class 'list'>

### **2.6. Revisitando a motivação**

In [142]:
print(hashtags_semana)
print(len(hashtags_semana))

['#tiago', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']
15

In [143]:
hashtags_semana = list(set(hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex))

print(hashtags_semana)
print(len(hashtags_semana))

['#joao', '#fora', '#lourdes', '#bbb', '#gil', '#juliete', '#tiago', '#danilo', '#fiuk', '#arthur', '#rafa', '#sarah', '#thelma']
13

<img src="Group2.png" alt="ebac-logo">

## 3\. Dicionários

### **3.1. Motivação**

Para se conectar a uma rede wi-fi, você precisa de duas informações: o nome da rede e a senha de acesso. Quando você vai acessar uma nova rede, você encontra uma lista de redes disponíveis:

In [144]:
wifi_disponiveis = ['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']
print(wifi_disponiveis)

['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']

Você consegue identificar quais são os nome de redes e suas respectivas senhas? Talvez uma `list` não seja a melhor opção para armazenar esse tipo de dado.

### **3.2. Definição**

Armazenam sequências no formato chave-valor. São do tipo `dict`.

In [145]:
brasil = {'capital': 'Brasília', 'idioma': 'Português', 'populacao': 210}

print(brasil)
print(type(brasil))

{'capital': 'Brasília', 'idioma': 'Português', 'populacao': 210}
<class 'dict'>

Não é permite chaves duplicadas.

In [146]:
carro = {
    'marca': 'Volkswagen',
    'modelo': 'Polo',
    'ano': 2021,
    'ano': 2004
}

print(carro)

{'marca': 'Volkswagen', 'modelo': 'Polo', 'ano': 2004}

Podemos criar dicionários compostos:

In [147]:
cadastro = {
    'andre': {
        'nome': 'Andre Perez', 
        'ano_nascimento': 1992, 
        'pais': {
            'pai': {
              'nome': '<nome-do-pai> Perez', 
              'ano_nascimento': 1971
            },
            'mae': {
              'nome': '<nome-da-mae> Perez', 
              'ano_nascimento': 1973
            },
        }
    }
}

print(cadastro)

{'andre': {'nome': 'Andre Perez', 'ano_nascimento': 1992, 'pais': {'pai': {'nome': '<nome-do-pai> Perez', 'ano_nascimento': 1971}, 'mae': {'nome': '<nome-da-mae> Perez', 'ano_nascimento': 1973}}}}

In [148]:
cadastro['andre']['pais']['mae']['ano_nascimento']

1973

### **3.3. Operações**

In [149]:
credito = {'123': 750, '789': 980}

Elementos são acessados pela sua chave.

In [150]:
score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)

750
980

Elementos são atualizados pela sua chave.

In [151]:
credito['123'] = 435
print(credito)

{'123': 435, '789': 980}

Para adicionar um novo elemento, basta criar um novo elemento chave-valor:

In [152]:
credito['456'] = 1000
print(credito)

{'123': 435, '789': 980, '456': 1000}

### **3.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com dicionários.

In [153]:
artigo = dict(
    titulo='Modulo 02 | Python: Estruturas de Dados',
    corpo='Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres=1530
)

In [154]:
# adicionar/atualizar um elemento pelo chave-valor: dict.update(dict)
print(artigo)
artigo.update({'total_caracteres': 7850})
print(artigo)

artigo['total_caracteres'] = 7850

{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1530}
{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}

In [155]:
# remover um elemento pelo chave: dict.pop(key)
print(artigo)
total_caracteres = artigo.pop('total_caracteres')
print(artigo)

{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}
{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...'}

### **3.5. Conversão**

Podemos converter as chaves e os items de um dicionário em uma lista.

In [156]:
artigo = dict(
    titulo='Modulo 02 | Python: Estruturas de Dados',
    corpo='Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres=1530
)

In [157]:
chaves = list(artigo.keys())

print(chaves)
print(type(chaves))

['titulo', 'corpo', 'total_caracteres']
<class 'list'>

In [158]:
valores = list(artigo.values())

print(valores)
print(type(valores))

['Modulo 02 | Python: Estruturas de Dados', 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 1530]
<class 'list'>

### **3.6. Revisitando a motivação**

In [159]:
wifi_disponiveis = []

In [160]:
rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

In [161]:
rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

In [162]:
print(wifi_disponiveis)

[{'nome': 'rede1', 'senha': 'cnx_cnx'}, {'nome': 'uai-fi', 'senha': 'r3d3'}]

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 03** | Python: Fluxo Condicional & Repetição
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Estrutura condicional if / else / elif;</li>
  <li>Estrutura condicional try / catch / finally;</li>
  <li>Estrutura de repetição for / in.</li>
</ol>

---

# **Aulas**

<img src="Group2.png" alt="ebac-logo">

## 1\. Estrutura condicional if / else / elif

### **1.1. if / else**

Estrutura de alteração de fluxo lógico do código, avalia um valor booleano ou uma comparação lógica. **Note** a identação do código.

```python
if <booleano / comparação lógica> == True:
  <execute este código>
else:
  <senão execute este código>
```

In [163]:
if False:
  print("Verdadeiro")
else:
  print("Falso")

Falso

**Exemplo**: Código de segurança de um cartão de crédito

In [164]:
codigo_de_seguranca = '291'
codigo_de_seguranca_cadastro = '010'

pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

False

In [165]:
if pode_efetuar_pagamento:
  print("Pagamento efetuado")
else:
  print("Erro: Código de segurança inválido")

Erro: Código de segurança inválido

In [166]:
if codigo_de_seguranca == codigo_de_seguranca_cadastro:
  print("Pagamento efetuado")
else:
  print("Erro: Código de segurança inválido")

Erro: Código de segurança inválido

**Exemplo**: Código e senha de segurança de um cartão de crédito

In [167]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '852'

senha = '7783'
senha_cadastro = '7783'

Revisitando a tabela da verdade:

| CÓDIGO        | SENHA        | | | CÓDIGO OR SENHA   | | CÓDIGO AND SENHA  | | NOT CÓDIGO    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

In [168]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Pagamento efetuado")
else:
  print("Erro: Pagamento não efetuado")

Pagamento efetuado

In [169]:
if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadastro):
  print("Erro: Pagamento não efetuado")
else:
  print("Pagamento efetuado")

Pagamento efetuado

### **1.2. if / elif / else**

Podemos também avaliar múltipla condições.

```python
if <1º booleano / 1ª comparação lógica> == True:
  <execute este código se a primeira condição for verdade>
elif <2º booleano / 2ª comparação lógica> == True:
  <execute este código se a segunda condição for verdade>
else:
  <senão execute este código>
```

In [170]:
codigo_de_seguranca = '802'
codigo_de_seguranca_cadastro = '852'

senha = '7703'
senha_cadastro = '7783'

| CÓDIGO        | SENHA        | | | CÓDIGO AND SENHA  | MENSAGEM |
|----------|----------|-|-|----------|-|
| **TRUE** | **TRUE** | | | **TRUE** | Pagamento efetuado |
| **TRUE** | FALSE    | | | FALSE    | Erro: Senha inválida |
| FALSE    | FALSE    | | | FALSE    | Erro: Código de segurança e senha inválidos |
| FALSE    | **TRUE** | | | FALSE    | Erro: Código de segurança inválido |

In [171]:
if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Pagamento efetuado")

elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print("Erro: Código de segurança inválido")

elif (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha != senha_cadastro):
  print("Erro: Senha inválida inválida")

else:
  print("Erro: Código de segurança e senha inválidos")

Erro: Código de segurança e senha inválidos

<img src="Group2.png" alt="ebac-logo">

## 2\. Estrutura condicional try /except / finally

### **2.1. Exceção**

Exceções são erros que podem acontecer durante a execução do nosso código.

**Exemplo**: Erro de operações numéricas impossíveis

In [172]:
preco = 132.85
pessoas = 0

In [173]:
#valor_por_pessoa = preco / pessoas

**Exemplo**: Erro por combinações de tipos diferentes

In [174]:
nome = 'Andre Perez'
idade = True

In [175]:
#apresentacao = 'Fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'

**Exemplo**: Erro de indexação de estrutura de dados

In [176]:
anos = [2019, 2020, 2021]

In [177]:
#ano_atual = anos[3]

In [178]:
cursos = {
    'python': {
        'nome': 'Python para Análise de Dados', 'duracao': 2.5
    }, 
    'sql': {
        'nome': 'SQL para Análise de Dados', 'duracao': 2
    }
}

In [179]:
#curso_atual = cursos['analista']

### **2.2. try / except**

Estrutura para tratar exceções:

In [180]:
preco = 132.85
pessoas = 2

try:
  valor_por_pessoa = preco / pessoas
  print(valor_por_pessoa)
except ZeroDivisionError:
  print('Número de pessoas inválido. Espera-se um valor maior que 0 e obteve-se um valor igual a ' + str(pessoas))

66.425

In [181]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))

Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [182]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print('Descrição da exceção: ' + str(exc))
  print('Tipo da exceção: ' + str(type(exc)))
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))

Descrição da exceção: list index out of range
Tipo da exceção: <class 'IndexError'>
Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

In [183]:
anos = [2019, 2020, 2021]

try:
  ano_atual = anos[f]
  print(ano_atual)
except IndexError:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))
except Exception as exc:
  print(exc)
  print("Nome do erro: " + str(type(exc)))
  print('Erro genérico')

name 'f' is not defined
Nome do erro: <class 'NameError'>
Erro genérico

### **2.3. try / except / finally**

In [184]:
nome = 'Andre Perez'
idade = 19

#idade = str(idade)

try:
  apresentacao = 'Fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)
except TypeError:
  idade = str(idade)
finally:
  print('Segunda chance')
  apresentacao = 'Fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'
  print(apresentacao)

Segunda chance
Fala pessoal, meu nome é Andre Perez e eu tenho 19 anos

### 2.4. Filtrando o nome do erro

In [185]:
# Filtrando il nome dell'errore

anni = [2022, 2023, 2024]

try:
  anno_atuale = anni[6]
  print(anno_atuale)
except Exception as exc:
  # Encontrando a posição
  pisizione_rischio = str(type(exc)).find("'") + 1
  posizione_fine = str(type(exc)).find(">") - 1
  risposta = str(type(exc))[pisizione_rischio:posizione_fine]
  # Imprimindo resposta
  print("L'operazione non può essese eseguita dall'algoritmo!")
  print("Errore:", risposta, "--> descrizione:", str(exc))

L'operazione non può essese eseguita dall'algoritmo!
Errore: IndexError --> descrizione: list index out of range

### 2.5. Tentativa de executar uma operação que pode gerar uma exceção

In [186]:
try:
    # Tentativo di eseguire un'operazione che potrebbe generare un'eccezione
    x = 1 / 0
except ZeroDivisionError:
    # Cosa fare se si verifica l'eccezione ZeroDivisionError
    print("Errore: divisione per zero!")

Errore: divisione per zero!

In [187]:
try:
    # Tentativo di eseguire un'operazione che potrebbe generare un'eccezione
    lista = [1, 0, 2]
    for x in lista:
        divisione = 4 / x
        print(divisione)
except ZeroDivisionError:
    # Cosa fare se si verifica l'eccezione ZeroDivisionError
    print("Errore: divisione per zero!")

4.0
Errore: divisione per zero!

### 2.6. Comando continue

In [188]:
lista = [1, 0, 2]
for x in lista:
    try:
        divisione = 4 / x
        print(divisione)
    except ZeroDivisionError:
        print(f"Errore: 4/{x} divisione per zero!")
        continue

4.0
Errore: 4/0 divisione per zero!
2.0

<img src="Group2.png" alt="ebac-logo">

## 3\. Estrutura repetição for / in

### **3.1. for / in**

Estrutura que permite a execução repetida de um bloco de código repetidas vezes.

```python
for variavel_temporaria in coleção:
  <execute este código>
```

### **3.2. for / in / range**

Estrutura que permite a execução repetida de um bloco de código **n** vezes.

In [189]:
for valor in range(6):
  print(valor)

0
1
2
3
4
5

In [190]:
soma = 0

for valor in range(0, 100000):
  soma = soma + valor
  # print(soma)

print(soma)

4999950000

In [191]:
for multiplo_dois in range(2, 10, 3):
  print(multiplo_dois)

2
5
8

### **3.3. for / in / list**

Estrutura que permite a execução de um bloco de código para todos os elementos de uma lista.

In [192]:
frutas = ['maca', 'banana', 'laranja', 'uva', 'pera']

for fruta in frutas:
  print(fruta)

maca
banana
laranja
uva
pera

In [193]:
frase = 'Fala pessoal, meu nome é André Perez.'

for caracter in frase:
  if (caracter == 'A') | (caracter == 'z'):
    print(f"A letra '{caracter}' está presente na frase.")

A letra 'A' está presente na frase.
A letra 'z' está presente na frase.

### **3.4. for / in / dict**

Estrutura que permite a execução de um bloco de código para todos os elementos de um dicionário.

In [194]:
credito = {'123': 750, '456': 812, '789': 980}

In [195]:
for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do escore de crédito é {valor}.')
  print('\n')

Para o documento 123, o valor do escore de crédito é 750.


Para o documento 456, o valor do escore de crédito é 812.


Para o documento 789, o valor do escore de crédito é 980.

In [196]:
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'Para o documento {chave}, o valor do escore de crédito é {credito[chave]}.')
  print('\n')

123
750
Para o documento 123, o valor do escore de crédito é 750.


456
812
Para o documento 456, o valor do escore de crédito é 812.


789
980
Para o documento 789, o valor do escore de crédito é 980.

In [197]:
for valor in credito.values():
  print(valor)
  print(f'O valor do escore de crédito é {valor}, mas não temos mais as chaves :(.')
  print('\n')

750
O valor do escore de crédito é 750, mas não temos mais as chaves :(.


812
O valor do escore de crédito é 812, mas não temos mais as chaves :(.


980
O valor do escore de crédito é 980, mas não temos mais as chaves :(.

### **3.5. break / continue**

Estrutura que permite a quebra ou o avanço de um laço de repetição.

In [198]:
for i in range(0, 10*10*10*10*10*10):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [199]:
numero = 3

if numero % 2 == 0:
  print(f'O numero {numero} é par')
else:
  print(f'O numero {numero} é impar')

O numero 3 é impar

In [200]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

  if numero % 2 == 0:
    print(f'O numero {numero} é par')
    break
  else:
    print(f'O numero {numero} é impar')

O numero 361 é impar
O numero 553 é impar
O numero 194 é par

In [201]:
numeros = [361, 553, 194, 13, 510, 33, 135]

for numero in numeros:

  if numero % 2 == 0:
    print(f'O numero {numero} é par')
    break
  else:
    continue
    print(f'O numero {numero} é impar')

O numero 194 é par

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 04** | Python: Arquivos & Funções
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Leitura;</li>
  <li>Escrita;</li>
  <li>Funções;</li>
  <li>Escopo.</li>
</ol>

---

# **Aulas**

<img src="Group2.png" alt="ebac-logo">

## 1\. Leitura

### **1.1. Configuração inicial**

Vamos utilizar uma função do **Google Colab** para criar arquivos para esse módulo. **Nota**: esse código **não** é do Python e sim da ferramenta.

**Arquivo CSV:** banco.csv

In [202]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

### **1.2. with / open**

Comando para ler arquivos.

```python
with open(file='<caminho do arquivo>', mode='<modo de leitura>', encoding='<decodificador>') as <apelido>:
  bloco de código
```

Os modos de leitura são:

*   **r**: Abrir o arquivo para leitura (padrão).

### **1.3. read**

Comando para ler todo o conteúdo de um arquivo.

In [203]:
conteudo = None

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

# Com o modo 'r' não pode mudar o arquivo

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

### **1.4. readline**

Comando para ler o conteúdo de um arquivo uma linha por vez. Recomendado para arquivos grandes, maiores que 100Mb

In [204]:
conteudo = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() # lê a primeira linha
  while linha: # Enquando uma condição for verdadeira
    conteudo.append(linha)
    linha = arquivo.readline() # lê uma nova linha, se a linha não existir, salva o valor None

print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

In [205]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

**Exemplo**: Extraindo os valores da primeira coluna (idade).

In [206]:
idades = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline() # lê o cabeçalho
  linha = arquivo.readline() # lê a primeira linha
  while linha:
    linha_separada = linha.split(sep=',') # quebra a string nas virgulas e salva os resultados em uma lista
    idade = linha_separada[0] # seleciona o primeiro elemento da lista
    idade = int(idade) # converte o valor de string para integer (inteiro)
    idades.append(idade) # salva o valor na lista de idades
    linha = arquivo.readline() # lê uma nova linha, se a linha não existir, salva o valor None

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

<img src="Group2.png" alt="ebac-logo">

## 2\. Escrita

### **2.1. with / open**

Comando para ler/escrever arquivos.

```python
with open(file='<caminho do arquivo do arquivo>', mode='<modo de leitura/escrita>', encoding='<decodificador>') as <apelido>:
  bloco de código
```

Os modos de leitura são:

*   **r**: Abrir o arquivo para leitura (padrão);
*   **w**: Abrir o arquivo para escrita (sobreescreve o arquivo original).
*   **a**: Abrir o arquivo para acrescentar (não sobreescreve o arquivo original)

### **2.2. write**

Comando para escrever em um arquivo, se o arquivo não existir, ele será criado.

- Modo de escrita (w).

In [207]:
with open(file='idades.csv', mode='w', encoding='utf8') as fp:
  linha = 'idade' + '\n'
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '\n'
    fp.write(linha)

 - Modo de acréscimo (a).

In [208]:
with open(file='idades.csv', mode='a', encoding='utf8') as fp:
  for idade in idades:
    linha = str(idade + 100) + '\n'
    fp.write(linha)

**Exemplo**: Copiando um arquivo com uma extensão diferente.

In [209]:
%%writefile banco-texto.txt
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco-texto.txt

In [210]:
with open(file='./banco-texto.txt', mode='r', encoding='utf8') as leitura:
  with open(file='./banco-csv.csv', mode='w', encoding='utf8') as escrita:
    linha = leitura.readline()
    while linha:
      escrita.write(linha)
      linha = leitura.readline()

<img src="Group2.png" alt="ebac-logo">

## 3\. Funções

### **3.1. Motivação**

Você trabalha na bolsa de valores e precisa simular o retorno de um investimento para diversos cenários:

In [211]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}') 

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

Como podemos fazer para reaproveitar o código e evitar repetições?

##### **Round**

In [212]:
# Round

valor = 10 / 4
valor = round(valor, 0)
print(valor)

2.0

### **3.2. Definição**

Um bloco de código que só executado quando chamado.

```python
def <nome>(<param 1>, <param 2>, ...):
  bloco de código
  return <valor de retorno>
```

```python
var = <nome da funcao>(<param 1>, <param 2>, ...)
```

In [213]:
def imprime(mensagem: str):
  print(mensagem)

In [214]:
texto = 'Fala pessoal, meu nome é André Perez!'

In [215]:
imprime(mensagem=texto)

Fala pessoal, meu nome é André Perez!

### **3.3. Retorno**

Toda função retorna pelo menos um valor, se não específicado, retorna o valor nulo.

In [216]:
def maiusculo(texto: str) -> str:
  text_maiusculo = texto.upper()
  return text_maiusculo

# "-> str" tipo do retorno

In [217]:
nome = 'André Perez'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

André Perez
ANDRÉ PEREZ

In [218]:
def extrair_usuario_email_provedor(email: str) -> (str, str):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

In [219]:
email = 'andre.perez@gmail.com'
usuario, provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

andre.perez
gmail.com

### **3.3. Parâmetros**

Parâmetros são os valores que a passamos na chamada da função.

 - Função sem parâmetro:

In [220]:
def pi() -> float:
  return 3.14159265359

In [221]:
pi = pi()
print(pi)

3.14159265359

In [222]:
def imprime_pi() -> None:
  print(3.14159265359)
  return None

In [223]:
imprime_pi()

3.14159265359

 - Função com parâmetro:

In [224]:
def escreve_arquivo_csv(nome: str, cabecalho: str, conteudos: list) -> bool:

  try: 

    with open(file=nome, mode='w', encoding='utf8') as fp:
      linha = cabecalho + '\n'
      fp.write(linha)
      for conteudo in conteudos:
        linha = str(conteudo) + '\n'
        fp.write(linha)

  except Exception as exc:
    
    print(exc)
    return False

  return True

In [225]:
nome = 'idades-funcao-erro.csv'
cabecalho = 'idade'
conteudos = [30, 33, 35, 30, 59, 35, 36, 39, 41, 43]
#conteudos = 10

escreveu_com_sucesso = escreve_arquivo_csv(nome=nome, cabecalho=cabecalho, conteudos=conteudos)
print(escreveu_com_sucesso)

True

### **3.4. Revisitando a motivação**

In [226]:
def juros_compostos_anual(valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:
  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
  valor_final = round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}') 
  return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

<img src="Group2.png" alt="ebac-logo">

## 4\. Escopo

### **4.1. Definição**

Define o ciclo de vida de uma variável.

 - Escopo de função.

In [227]:
def soma_lista(numeros: list) -> int:
  s = 0
  for numero in numeros:
    s = s + numero
  return s

In [228]:
soma = soma_lista(numeros=[2] * 20)
print(soma)

40

In [229]:
#print(s) # Quando a função terminou a variavel "S" ficou vazia

 - Escopo de estrutura condicional / repetição.

In [230]:
if True:
  x = 100
else:
  w = 50

print(x)

100

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 05** | Python: Programação Funcional
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Função lambda;</li>
  <li>Função map;</li>
  <li>Função filter;</li>
  <li>Função reduce.</li>
</ol>

---

# **Aulas**

## 0\. Paradigmas de Programação

Estilos de programação.

1.   Imperativa;
2.   Funcional;
3.   Orientada a objetos.

O Python é uma linguagem [multi-paradigma](https://en.wikipedia.org/wiki/Python_(programming_language)).



![Screenshot from 2021-03-29 22-42-04.png]()

Este módulo é sobre **programação funcional**, que é o estilo que busca manipular dados com muitas e pequenas funções.

<img src="Group2.png" alt="ebac-logo">

## 1\. Função lambda

### **1.1. Definição**

Função anônima (sem nome) com bloco de código super enxuto e que pode ser salva em uma variável. Em geral é utilizada com outros métodos funcionais como `map`, `filter`, e `reduce`.

```python
variavel = lambda params: expressão
```

**Exemplo**: Função `lambda` para extrair provedor de e-mail.

In [231]:
extrair_provedor_email = lambda email: email.split(sep='@')[-1]

In [232]:
email = 'andre.perez@gmail.com'
print(email)

provedor_email = extrair_provedor_email(email)
print(provedor_email)

andre.perez@gmail.com
gmail.com

**Exemplo**: Função `lamba` com estruturas condicionais.

In [233]:
numero_e_par = lambda numero: True if numero % 2 == 0 else False

In [234]:
numeros = range(0, 10)

In [235]:
for numero in numeros:
  if numero_e_par(numero) == True:
    print(f'O número {numero} é par!')

O número 0 é par!
O número 2 é par!
O número 4 é par!
O número 6 é par!
O número 8 é par!

### **1.2. Função de alta ordem**

São funções que recebem outras funções para parâmetro ou retornam outra função.

**Exemplo**: Juros compostos dinâmico.

 - Definição.

In [236]:
def retorno(juros: float):
  return lambda investimento: investimento * (1 + juros)

 - Instanciação.

In [237]:
retorno_5_porcento = retorno(juros=0.05)
retorno_10_porcento = retorno(juros=0.10)

In [238]:
valor_final = retorno_5_porcento(investimento=1000)
print(valor_final)

valor_final = retorno_10_porcento(investimento=1000)
print(valor_final)

1050.0
1100.0

 - Uso.

In [239]:
anos = 10
valor_inicial = 1000
valor_final = valor_inicial

for ano in range(1, anos+1):
  valor_final = retorno_5_porcento(investimento=valor_final)

valor_final = round(valor_final, 2)
print(valor_final)

1628.89

In [240]:
anos = 10
valor_inicial = 1000
valor_final = valor_inicial

for ano in range(1, anos+1):
  valor_final = retorno_10_porcento(investimento=valor_final)

valor_final = round(valor_final, 2)
print(valor_final)

2593.74

<img src="Group2.png" alt="ebac-logo">

## 2\. Função map

### **2.1. Definição**

Aplica uma função em todos os elementos de uma coleção (`list`, `dict`, etc.) e retorna **todos** os elementos transformados.

```python
variavel = map(função, coleção)
```

In [241]:
numeros = [1, 2, 3]

numeros_ao_cubo = map(lambda num: num ** 3, numeros)

print(list(numeros_ao_cubo))

[1, 8, 27]

### **2.2. Função de alta ordem**

**Exemplo**: Função `lambda` para extrair provedor de e-mail (1 parâmetro).

In [242]:
emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
extrair_provedor_email = lambda email: email.split(sep='@')[-1]

In [243]:
provedores = []
for email in emails:
  provedor = extrair_provedor_email(email)
  provedores.append(provedor)

print(provedores)

['gmail.com', 'live.com', 'yahoo.com']

In [244]:
provedores = map(extrair_provedor_email, emails)
print(provedores)

<map object at 0x00000191B20921A0>

In [245]:
provedores = list(map(extrair_provedor_email, emails))
print(provedores)

['gmail.com', 'live.com', 'yahoo.com']

In [246]:
provedores = map(lambda email: email.split(sep='@')[-1], emails)
...
print(list(provedores))

['gmail.com', 'live.com', 'yahoo.com']

- **Exemplo**: Investimento (Mais de 1 parâmetros).

In [247]:
anos = [10, 10, 10]
taxas_juros = [0.05, 0.10, 0.15]
valores_iniciais = [1000, 1000, 1000]

def retorno(valor_inicial: float, taxa_juros: float, anos: int) -> float:
  valor_final = valor_inicial
  for ano in range(1,anos+1):
    valor_final = valor_final * (1+taxa_juros)
  return round(valor_final, 2)

cenarios = list(map(retorno, valores_iniciais, taxas_juros, anos))
print(cenarios)

[1628.89, 2593.74, 4045.56]

<img src="Group2.png" alt="ebac-logo">

## 3\. Função filter

### **3.1. Definição**

Aplica uma função lógica (que retorna um booleano) em todos os elementos de uma coleção (`list`, `dict`, etc.) e retorna **apenas** aqueles que resultaram em verdadeiro (`True`).

```python
variavel = filter(função, coleção)
```

In [248]:
numeros = [1, 2, 3]

numeros_par = filter(lambda num: num % 2 == 0, numeros)

print(list(numeros_par))

[2]

### **3.2. Função de alta ordem**

**Exemplo**: Função `lambda` para extrair provedor de e-mail.

In [249]:
emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
provedor_da_google = lambda email: 'gmail' in email

In [250]:
emails_google = []
for email in emails:
  if provedor_da_google(email) == True:
    emails_google.append(email)

print(emails_google)

['andre.perez@gmail.com']

In [251]:
emails_google = filter(provedor_da_google, emails)
print(emails_google)

<filter object at 0x00000191B2091E10>

In [252]:
emails_google = list(filter(provedor_da_google, emails))
print(emails_google)

['andre.perez@gmail.com']

In [253]:
emails_google = filter(lambda email: 'gmail' in email, emails)
...
print(list(emails_google))

['andre.perez@gmail.com']

<img src="Group2.png" alt="ebac-logo">

## 4\. Função reduce

### **4.1. Definição**

Aplica uma função a todos os elemento de uma coleção, dois a dois, e retorna **apenas** um elemento.

```python
variavel = reduce(função, coleção)
```

In [254]:
numeros = [1, 2, 3]

In [255]:
from functools import reduce

soma = reduce(lambda x, y: x + y, numeros)
print(soma)

6

### **4.2. Função de alta ordem**

**Exemplo**: Encontrar maior número em uma lista.

In [256]:
def maior_entre(primeiro: int, segundo: int) -> int:
  return primeiro if primeiro >= segundo else segundo

primeiro = 11
segundo = 11

print(maior_entre(primeiro=primeiro, segundo=segundo))

11

In [257]:
from random import random

print(random())

0.7211090682278987

In [258]:
from random import random

numeros = [round(100 * random()) for _ in range(0, 100)]
print(numeros)

[4, 27, 15, 16, 36, 62, 95, 14, 59, 63, 39, 14, 14, 20, 65, 44, 80, 72, 64, 4, 25, 51, 24, 88, 39, 69, 61, 53, 17, 55, 81, 30, 54, 18, 40, 91, 16, 39, 92, 44, 29, 25, 62, 82, 4, 82, 57, 89, 52, 3, 76, 78, 21, 82, 12, 79, 42, 35, 31, 76, 1, 60, 10, 7, 12, 37, 63, 74, 69, 95, 22, 1, 64, 87, 64, 7, 69, 53, 38, 44, 5, 98, 5, 18, 2, 92, 46, 39, 9, 6, 75, 18, 70, 78, 39, 97, 60, 48, 40, 41]

In [259]:
from random import random

def soma(v1:int) -> int:
    return v1 + 5

numeros = [(soma(3)) for _ in range(0, 100)]
print(numeros)

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [260]:
maior_numero = reduce(maior_entre, numeros)
print(maior_numero)

8

In [261]:
maior_numero = reduce(lambda primeiro, segundo: primeiro if primeiro >= segundo else segundo, numeros)
print(maior_numero)

8

### **4.3. Compossibilidade**

**Exemplo**: Combinação de métodos funcionais.

In [262]:
from random import random

numeros = [round(100 * random()) for _ in range(0, 100)]
print(numeros)

[37, 23, 5, 1, 68, 71, 63, 90, 66, 7, 99, 89, 64, 7, 85, 40, 32, 7, 64, 86, 40, 11, 38, 88, 21, 60, 72, 0, 70, 52, 5, 99, 49, 94, 97, 39, 20, 34, 20, 43, 40, 14, 26, 4, 95, 74, 90, 81, 59, 52, 44, 6, 9, 93, 41, 35, 65, 17, 19, 37, 92, 13, 85, 39, 7, 54, 62, 30, 84, 65, 71, 46, 61, 12, 9, 9, 89, 17, 100, 98, 4, 19, 9, 62, 35, 34, 51, 48, 86, 64, 78, 79, 2, 22, 67, 40, 49, 76, 49, 34]

 - Eleve os números ao quadrado.

In [263]:
numeros_ao_quadrado = map(lambda numero: numero ** 2, numeros)

 - Filtra os números ímpares.

In [264]:
numeros_impares = filter(lambda numero: numero % 2 != 0, numeros_ao_quadrado)

 - Soma todos os números.

In [265]:
soma_numeros = reduce(lambda x, y: x + y, numeros_impares)
print(soma_numeros)

148666

 - Todos os métodos de uma vez.

In [266]:
soma_numeros = reduce(lambda x, y: x + y, filter(lambda numero: numero % 2 != 0, map(lambda numero: numero ** 2, numeros)))
print(soma_numeros)

148666

### PROGRAMAS

In [267]:
print("Ok")

Ok

In [268]:
def ok():
    print("Nome")

o = [ok() for _ in range(0, 5)]

Nome
Nome
Nome
Nome
Nome

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 06** | Python: Programação Orientada a Objetos
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Um pouco de teoria;</li>
  <li>Classes;</li>
  <li>Objetos;</li>
  <li>Herança.</li>
</ol>

---

# **Aulas**

## 0\. Paradigmas de Programação

Estilos de programação.

1.   Imperativa;
2.   Funcional;
3.   Orientada a objetos.

O Python é uma linguagem [multi-paradigma](https://en.wikipedia.org/wiki/Python_(programming_language)).



![Screenshot from 2021-03-29 22-42-04.png]()

## 1\. Um pouco de teoria

### **1.1. Classe**

Uma representação de um elemento, real ou não. Uma receita para criar objetos (instâncias). 
<br>
**Exemplo**: pessoa.

### **1.2. Objeto**

Uma instancia de uma classe. Dá vida a receita (classe). 
<br>
**Exemplo**: André é um instância da classe pessoa.

### **1.3. Herança**

Uma especialização da classe. 
<br>
**Exemplo**: estudante é um tipo especial de pessoa.

## 2\. Classes

### **2.1. Definição**

Uma classe é uma receita para criação de objetos.

```python
class NomeClasse(object):

  def __init__(self, params):
    self.atributo1 = ...
    self.atributo2 = ...

  def metodo1(self, params):
    ...

  def metodo2(self, params):
    ...
```

In [269]:
class Pessoa(object):

  def __init__(self):
    pass

### **2.2. Atributos**

Representam as caracteristicas da classe.

In [270]:
class Pessoa(object):

  def __init__(self, nome: str, idade: int, documento: str):
    self.nome = nome
    self.idade = idade
    self.documento = documento

### **2.3. Métodos**

Representam as ações da classe.

In [271]:
from time import sleep

class Pessoa(object):
  
  def __init__(self, nome: str, idade: int, documento: str = None):
    self.nome = nome
    self.idade = idade
    self.documento = documento

  def dormir(self, horas: int) -> None:
    for hora in range(1,horas+1):
      print(f'Dormindo por {hora} horas')
      sleep(1)

  def falar(self, texto: str) -> None:
    print(texto)

  def __str__(self) -> str:
    return f'{self.nome}, {self.idade} anos e documento numero {self.documento}'

## 3\. Objetos

### **3.1. Definição**

Uma objeto é uma instância de uma classe.

```python
class NomeClasse(object):
  ...

objeto = NomeClasse()

objeto.atributo
objeto.metodo()
```

In [272]:
andre = Pessoa(nome='Andre Perez', idade=30, documento='123')
maria = Pessoa(nome='Maria Perez', idade=56, documento='456')
pedro = Pessoa(nome='Pedro Perez', idade=8)

### **3.2. Manipulação**

 - Atributos

In [273]:
print(andre.nome)

Andre Perez

In [274]:
def maior_de_idade(idade: int) -> bool:
  return idade >= 18

if maior_de_idade(idade=andre.idade):
  print(f'{andre.nome} é maior de idade')

Andre Perez é maior de idade

In [275]:
score_credito = {'123': 750, '456': 812, '789': 327}

score = score_credito[andre.documento]
print(score)

750

 - Métodos

In [276]:
andre.dormir(horas=8)

Dormindo por 1 horas
Dormindo por 2 horas
Dormindo por 3 horas
Dormindo por 4 horas
Dormindo por 5 horas
Dormindo por 6 horas
Dormindo por 7 horas
Dormindo por 8 horas

In [277]:
andre.falar(texto='Olá pessoal!')

Olá pessoal!

In [278]:
print(andre)

Andre Perez, 30 anos e documento numero 123

In [279]:
type(andre)

__main__.Pessoa

### **3.3. Exemplos**

 - Tudo no Python é um objeto!

In [280]:
tipos = [type(10), type(1.1), type('EBAC'), type(True), type(None), type([1, 2, 3]), type({1, 2, 3}), type({'janeiro': 1}), type(lambda x: x)]

In [281]:
for tipo in tipos:
  print(tipo)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'function'>

In [282]:
nome = 'Andre Perez'
print(nome.upper())

ANDRE PEREZ

In [283]:
juros = [0.02, 0.07, 0.15]
print(juros.pop(1))

0.07

 - Classe Arquivo CSV

In [284]:
class ArquivoCSV(object):

  def __init__(self, arquivo: str):
    self.arquivo = arquivo
    self.conteudo = self._extrair_conteudo()
    self.colunas = self._extrair_nome_colunas()

  def _extrair_conteudo(self):
    conteudo = None
    with open(file=self.arquivo, mode='r', encoding='utf8') as arquivo:
      conteudo = arquivo.readlines()
    return conteudo

  def _extrair_nome_colunas(self):
    return self.conteudo[0].strip().split(sep=',')

  def extrair_coluna(self, indice_coluna: str):
    coluna = list()
    for linha in self.conteudo:
      conteudo_linha = linha.strip().split(sep=',')
      coluna.append(conteudo_linha[indice_coluna])
    coluna.pop(0)
    return coluna

#### Função `strip() com split()`

In [285]:
# Exemplo 1: Removendo espaços em branco
fruta = " banana "
print(fruta.strip())  # Saída: "banana"

# Exemplo 2: Removendo caracteres específicos
fruta = ",,,,,rrttgg.....banana....rrr"
print(fruta.strip(",.grt"))  # Saída: "banana"

# Exemplo: Removendo espaços em branco e dividindo uma string
frase = " O gato pulou sobre o muro "
palavras = frase.strip().split()
print(palavras)  # Saída: ['O', 'gato', 'pulou', 'sobre', 'o', 'muro']

banana
banana
['O', 'gato', 'pulou', 'sobre', 'o', 'muro']

In [286]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco.csv

In [287]:
arquivo_banco = ArquivoCSV(arquivo='./banco.csv')

In [288]:
cont = arquivo_banco._extrair_conteudo()
print(cont)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

In [289]:
print(arquivo_banco.colunas)

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan']

 - Extraindo a coluna de `job`

In [290]:
job = arquivo_banco.extrair_coluna(indice_coluna=1)
print(job)

['unemployed', 'services', 'management', 'management', 'blue-collar', 'management', 'self-employed', 'technician', 'entrepreneur', 'services']

 - Extraindo a coluna de `education`

In [291]:
education = arquivo_banco.extrair_coluna(indice_coluna=3)
print(education)

['primary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'primary']

## 4\. Herança

### **4.1. Definição**

Todo estudante é uma pessoa mas nem toda pessoa é um estudante. Por isso usamos as `Heranças` para que os estudandes possam compartilhar as caracteristicas das pessoas.

Uma especialização da classe.

```python
class NomeClasse(object):

  def __init__(self, params):
    ...

class NomeClasseEspecializada(NomeClasse):

  def __init__(self, params):
    super().__init__(self, params)
    self.atributo3 = ...
    self.atributo4 = ...

  def metodo3(self, params):
    ...

  def metodo4(self, params):
    ...
```

Repetindo a definição da classe `Pessoa`:

In [292]:
from time import sleep

class Pessoa(object):

  def __init__(self, nome: str, idade: int, documento: str=None):
    self.nome = nome
    self.idade = idade
    self.documento = documento

  def dormir(self, horas: int) -> None:
    for hora in range(1,horas+1):
      print(f'Dormindo por {hora} horas')
      sleep(1)

  def falar(self, texto: str) -> None:
    print(texto)

  def __str__(self) -> str:
    return f'{self.nome}, {self.idade} anos e documento numero {self.documento}'

Criando a classe `Universidade`

In [293]:
class Universidade(object):

  def __init__(self, nome: str):
    self.nome = nome

Especializando a classe `Pessoa` na classe `Estudante`:

In [294]:
class Estudante(Pessoa):

  def __init__(self, nome: str, idade: int, documento: str, universidade: Universidade):

    super().__init__(nome=nome, idade=idade, documento=documento)
    self.universidade = universidade

### **4.2. Manipulação**

In [295]:
usp = Universidade(nome='Universidade de São Paulo')
andre = Estudante(nome='Andre Perez', idade=30, documento='123', universidade=usp)

In [296]:
print(andre)

Andre Perez, 30 anos e documento numero 123

In [297]:
print(andre.universidade.nome)

Universidade de São Paulo

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 07** | Python: Módulos & Pacotes
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>from / import / as;</li>
  <li>Módulo;</li>
  <li>Pacote;</li>
  <li>Baixando pacotes.</li>
</ol>

---

# **Aulas**

## 1\. from / import / as

Os módulos nativos do Python podem ser encontrados neste [link](https://docs.python.org/3/py-modindex.html).

### **1.1. import**

**Exemplo:** `random`

In [298]:
import random

In [299]:
escolha = random.choice([1, 2, 3])
print(escolha)

1

In [300]:
numero_aleatorio = random.random() # entre [0,1)
print(numero_aleatorio)

0.05047264837932941

**Exemplo:** `math`

In [301]:
import math

In [302]:
potencia = math.pow(10, 10)
print(potencia)

10000000000.0

In [303]:
num = math.ceil(10.1)
print(num)

11

In [304]:
print(math.pi)

3.141592653589793

### **1.2. from, import**

**Exemplo:** `time`

In [305]:
from time import time

In [306]:
print(time())

1725630982.4563968

In [307]:
sleep(5)

In [308]:
from time import time, sleep

In [309]:
sleep(5)

### **1.3. from, import, as**

**Exemplo:** `datetime`

In [310]:
from datetime import datetime as dt

In [311]:
print(dt.now())

2024-09-06 10:56:32.519850

In [312]:
print(dt.now().day)

6

In [313]:
print(dt.now().year)

2024

## 2\. Módulos

### **2.1. Motivação**

 - Classe Arquivo CSV

In [314]:
class ArquivoCSV(object):

  def __init__(self, arquivo: str):
    self.arquivo = arquivo
    self.conteudo = self._extrair_conteudo()
    self.colunas = self._extrair_nome_colunas()

  def _extrair_conteudo(self):
    conteudo = None
    with open(file=self.arquivo, mode='r', encoding='utf8') as arquivo:
      conteudo = arquivo.readlines()
    return conteudo

  def _extrair_nome_colunas(self):
    return self.conteudo[0].strip().split(sep=',')

  def extrair_coluna(self, indice_coluna: str):
    coluna = list()
    for linha in self.conteudo:
      conteudo_linha = linha.strip().split(sep=',')
      coluna.append(conteudo_linha[indice_coluna])
    coluna.pop(0)
    return coluna

 - Arquivo banco.csv

In [315]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco.csv

In [316]:
arquivo_banco = ArquivoCSV(arquivo='./banco.csv')

 - Extraindo a coluna de `education`

In [317]:
education = arquivo_banco.extrair_coluna(indice_coluna=3)
print(education)

['primary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'primary']

### **2.2. Definição**

Vamos criar um módulo (arquivo) com o nome `arquivo_csv.py` com o código da classe `ArquivoCSV`.

### **2.3. Revisitando a motivação**

Vamos importar a classe `ArquivoCSV` do módulo (arquivo) `arquivo_csv.py`.

In [318]:
%%writefile arquivo_csv.py

class ArquivoCSV(object):

    def __init__(self, arquivo: str):
        self.arquivo = arquivo
        self.conteudo = self._extrair_conteudo()
        self.colunas = self._extrair_nome_colunas()

    def _extrair_conteudo(self):
        with open(file=self.arquivo, mode='r', encoding='utf8') as arquivo:
            return arquivo.readlines()

    def _extrair_nome_colunas(self):
        return self.conteudo[0].strip().split(sep=',')

    def extrair_coluna(self, indice_coluna: int):
        coluna = []
        for linha in self.conteudo[1:]:
            conteudo_linha = linha.strip().split(sep=',')
            coluna.append(conteudo_linha[indice_coluna])
        return coluna

    def soma(self, num):
        return num + 1

Writing arquivo_csv.py

In [319]:
from arquivo_csv import ArquivoCSV

arquivo_banco_modulo = ArquivoCSV(arquivo='./banco.csv')

In [320]:
education = arquivo_banco_modulo.extrair_coluna(indice_coluna=3)
print(education)

['primary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'primary']

In [321]:
soma = arquivo_banco_modulo.soma(num=2)

## 3\. Pacotes

### **3.1. Motivação**

 - Classe Arquivo Texto

In [322]:
class ArquivoTXT(object):

  def __init__(self, arquivo: str):
    self.arquivo = arquivo
    self.conteudo = self._extrair_conteudo()

  def _extrair_conteudo(self):
    conteudo = None
    with open(file=self.arquivo, mode='r', encoding='utf8') as arquivo:
      conteudo = arquivo.readlines()
    return conteudo

  def extrair_linha(self, numero_linha: int):
    return self.conteudo[numero_linha-1]

 - Arquivo noticia.txt

In [323]:
%%writefile noticia.txt
Egito cobra quase US$ 1 bi para liberar navio que bloqueou Canal de Suez
Segundo autoridades, valor será utilizado para recompor as perdas provocados pelo encalhamento da embarcação de quase 400 metros

Writing noticia.txt

In [324]:
arquivo_noticia = ArquivoTXT(arquivo='./noticia.txt')

In [325]:
titulo = arquivo_noticia.extrair_linha(numero_linha=1)
print(titulo)

Egito cobra quase US$ 1 bi para liberar navio que bloqueou Canal de Suez

### **3.2. Definição**

Vamos criar um módulo (arquivo) com o nome `arquivo_txt.py` com o código da classe `ArquivoTXT`.

Vamos criar um pacote (pasta) com o nome arquivo e mover os módulos (arquivos) `arquivo_csv.py` e `arquivo_txt.py` para ela.

### **3.3. Revisitando a motivação**

In [326]:
from arquivo_csv import ArquivoCSV
#from arquivo_csv import ArquivoTXT

In [327]:
arquivo_banco_pacote = ArquivoCSV(arquivo='./banco.csv')
#arquivo_noticia_pacote = ArquivoTXT(arquivo='./noticia.txt')

In [328]:
education = arquivo_banco_modulo.extrair_coluna(indice_coluna=3)
print(education)

['primary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'tertiary', 'secondary', 'tertiary', 'primary']

In [329]:
titulo = arquivo_noticia.extrair_linha(numero_linha=1)
print(titulo)

Egito cobra quase US$ 1 bi para liberar navio que bloqueou Canal de Suez

## 4\. Baixando pacotes

### **4.1. PyPI**

Repositório oficial de pacotes Python ([link](https://pypi.org/)).

### **4.2. PIP**

Ferramenta oficial para instalar pacotes Python armazenados no PyPI.

 - Instalando pacotes: `pip install <pacote>==<versão>`

In [330]:
#!pip install requests==2.25.1

 - Listando pacotes: `pip freeze`

In [331]:
#!pip freeze

 - Removendo pacotes: `pip uninstall <pacote>`

### **4.3. Requests**

Pacote para interação com o protocolo web HTTP ([link](https://pypi.org/project/requests/)).

**Exemplo:** Extrair a taxa CDI do site da B3.

In [332]:
import requests
from requests.exceptions import ConnectionError, Timeout, RequestException

url = 'https://www2.cetip.com.br/ConsultarTaxaDi/ConsultarTaxaDICetip.aspx'

try:
    response = requests.get(url, timeout=10)
    response.raise_for_status()  # Check if the request was successful
    print(response.text)
except ConnectionError:
    print("Connection Error: Unable to connect to the server.")
except Timeout:
    print("Timeout Error: The request timed out.")
except RequestException as e:
    print(f"An error occurred: {e}")

Connection Error: Unable to connect to the server.

In [333]:
#print(f'status code: {response.status_code}')

In [334]:
#print(response.text)

In [335]:
"""import json

data = json.loads(response.text)
print(data)"""

'import json\n\ndata = json.loads(response.text)\nprint(data)'

In [336]:
"""cdi = None

for key, value in data.items():
  if key == 'taxa':
    cdi = value.replace(',', '.')
    cdi = float(cdi)

print(cdi)"""

"cdi = None\n\nfor key, value in data.items():\n  if key == 'taxa':\n    cdi = value.replace(',', '.')\n    cdi = float(cdi)\n\nprint(cdi)"

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 08** | Python: Tratamento de Erros
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Tipos de erros;</li>
  <li>Erros de sintaxe;</li>
  <li>Erros em tempo de execução.</li>
</ol>

---

# **Aulas**

## 1\. Tipos de erros

### **1.1. Definição**

 - **Erros de sintaxe**: erros que ocorrem durante a escrita do código.

In [337]:
"""idade = 19

if idade > 18
  return True"""

'idade = 19\n\nif idade > 18\n  return True'

 - **Erros em tempo de execução**: erros que ocorrem durante a execução do código.

Erros de uso incorreto de tipos de dados.

In [338]:
#print(1/0)

Erros de lógica.

In [339]:
i = 0
while True:
  ... # bloco de código
  i += 1
  if i > 10:
    break

## 2\. Erros de sintaxe

### **2.1. Definição**

São erros que ocorrem durante a escrita do código. O trecho do código **não é** executado.

In [340]:
carrinho_compras = [{'id': 3184, 'preco': 37.65, 'qtd': 10}, {'id': 1203, 'preco': 81.20, 'qtd': 2}, {'id': 8921, 'preco': 15.90, 'qtd': 2}]

**Exemplo**: Esquecer o 'dois pontos' `:` no final de estruturas de condição, repetição, etc.

In [341]:
"""for produto in carrinho_compras
  ..."""

'for produto in carrinho_compras\n  ...'

**Exemplo**: Condição lógica no `else` da estrutura de decisão `if-elif-else`.

In [342]:
"""for produto in carrinho_compras:
  if produto['id'] == 3184:
    ...
  else produto['id'] == 1203:
    ..."""

"for produto in carrinho_compras:\n  if produto['id'] == 3184:\n    ...\n  else produto['id'] == 1203:\n    ..."

### **2.2. Manipulação**

## 3\. Erros em tempo de execução

### **3.1. Motivação**

Você trabalha como analista de dados em uma empresa de telecomunicações. Você precisa fazer uma análise para o time de vendas do quanto a empresa vai receber este mês. Diariamente você recebe do time de engenharia os dados.

In [343]:
%%writefile telecom.csv
customerID,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7010-BRBUU,Credit card (automatic),24.1,1734.65,No
9688-YGXVR,Credit card (automatic),88.15,3973.2,No
9286-DOJGF,Bank transfer (automatic),74.95,2869.85,Yes
6994-KERXL,Electronic check,55.9,238.5,No
2181-UAESM,Electronic check,53.45,119.5,No
4312-GVYNH,Bank transfer (automatic),49.85,3370.2,No
2495-KZNFB,Electronic check,90.65,2989.6,No
4367-NHWMM,Mailed check,24.9,24.9,No
8898-KASCD,Mailed check,35.55,1309.15,No

Writing telecom.csv

In [344]:
from functools import reduce

def processar_faturas(nome_arquivo: str):

  faturas = []

  with open(file=nome_arquivo, mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline()
    linha = arquivo.readline()
    while linha:
      fatura = float(linha.strip().split(sep=',')[-3])
      faturas.append(fatura)
      linha = arquivo.readline()

  total_a_pagar = reduce(lambda x, y: x + y, faturas)
  total_a_pagar = round(total_a_pagar, 2)

  return total_a_pagar

In [345]:
total_a_pagar = processar_faturas(nome_arquivo='./telecom.csv')
print(total_a_pagar)

497.5

Em um certo dia, você recebe uma base de dados com a coluna de faturas trocada pela de meios de pagamento.

In [346]:
%%writefile telecom.csv
customerID,MonthlyCharges,PaymentMethod,TotalCharges,Churn
7010-BRBUU,24.1,Credit card (automatic),1734.65,No
9688-YGXVR,88.15,Credit card (automatic),3973.2,No
9286-DOJGF,74.95,Bank transfer (automatic),2869.85,Yes
6994-KERXL,55.9,Electronic check,238.5,No
2181-UAESM,53.45,Electronic check,119.5,No
4312-GVYNH,49.85,Bank transfer (automatic),3370.2,No
2495-KZNFB,90.65,Electronic check,2989.6,No
4367-NHWMM,24.9,Mailed check,24.9,No
8898-KASCD,35.55,Mailed check,1309.15,No

Overwriting telecom.csv

### **3.2. Definição**

São erros que ocorrem durante a execução do código. O trecho do código **é** executado até o erro 'estourar'.

Erros por uso incorreto de tipos de dados. 'Estoura' exceção. Podem ser manipulados ou passados para frente (`raise`).

 - **Exemplo**: Erro de operações numéricas impossíveis

In [347]:
preco = 132.85
pessoas = 0

In [348]:
#valor_por_pessoa = preco / pessoas

 - **Exemplo**: Erro por combinações de tipos diferentes

In [349]:
nome = 'Andre Perez'
idade = True

In [350]:
#apresentacao = 'Fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + ' anos'

 - **Exemplo**: Erro de indexação de estrutura de dados

In [351]:
anos = [2019, 2020, 2021]

In [352]:
"""ano_atual = anos[3]
print(ano_atual)"""

'ano_atual = anos[3]\nprint(ano_atual)'

In [353]:
cursos = {
    'python': {
        'nome': 'Python para Análise de Dados', 'duracao': 2.5
    }, 
    'sql': {
        'nome': 'SQL para Análise de Dados', 'duracao': 2
    }
}

In [354]:
curso_atual = cursos['python']
print(curso_atual)

{'nome': 'Python para Análise de Dados', 'duracao': 2.5}

In [355]:
curso_atual = cursos['sql']
print(curso_atual)

{'nome': 'SQL para Análise de Dados', 'duracao': 2}

In [356]:
"""curso_atual = cursos['analista']
print(curso_atual)"""

"curso_atual = cursos['analista']\nprint(curso_atual)"

**Erros de lógica**. Não 'estoura' exceção. A melhor forma de analise é usar a função `print` para verificar resultados intermediários.

   * **Exemplo**: Loops infinitos.

In [357]:
controle = 0
while True:
  ...
  controle += 1
  if controle > 10:
    break

In [358]:
"""s = []
while True:
  s = s + (['CURSO DE PYTHON PARA ANALISE DE DADOS DA EBAC'] * (1000 * 1000 * 1000))"""

"s = []\nwhile True:\n  s = s + (['CURSO DE PYTHON PARA ANALISE DE DADOS DA EBAC'] * (1000 * 1000 * 1000))"

 - **Exemplo**: Limites de coleções.

In [359]:
carrinho_compras = [{'id': 3184, 'preco': 37.65, 'qtd': 10}, {'id': 1203, 'preco': 81.20, 'qtd': 2}, {'id': 8921, 'preco': 15.90, 'qtd': 2}]

In [360]:
valor_total = 0
for indice in range(1, len(carrinho_compras)):
  valor_total += carrinho_compras[indice]['preco'] * carrinho_compras[indice]['qtd']

valor_total = round(valor_total, 2)
print(valor_total)

194.2

In [361]:
valor_total = 0
for produto in carrinho_compras:
  valor_total += produto['preco'] * produto['qtd']

valor_total = round(valor_total, 2)
print(valor_total)

570.7

In [362]:
valor_total = 0
for indice in range(1, len(carrinho_compras)):
  print(carrinho_compras[indice])
  valor_total += carrinho_compras[indice]['preco'] * carrinho_compras[indice]['qtd']

valor_total = round(valor_total, 2)
print(valor_total)

{'id': 1203, 'preco': 81.2, 'qtd': 2}
{'id': 8921, 'preco': 15.9, 'qtd': 2}
194.2

### **3.3. Manipulação**

 - Manipular o erro com a estrutura `try-catch-finally-else`.

In [363]:
anos = [2019, 2020, 2021]
anos = {2019, 2020, 2021}

try:
  ano_atual = anos[3]
  print(ano_atual)
except IndexError:
  print('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))
except Exception as exc:
  print(exc)

'set' object is not subscriptable

 - Passar o erro para frente com a estrutura `raise`.

In [364]:
"""anos = [2019, 2020, 2021]
# anos = {2019, 2020, 2021}

try:
  ano_atual = anos[3]
  print(ano_atual)
except IndexError as exc:
  raise Exception('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))
except Exception as exc:
  raise exc"""

"anos = [2019, 2020, 2021]\n# anos = {2019, 2020, 2021}\n\ntry:\n  ano_atual = anos[3]\n  print(ano_atual)\nexcept IndexError as exc:\n  raise Exception('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))\nexcept Exception as exc:\n  raise exc"

### **3.4. Revisitando a motivação**

In [365]:
faturas = []

with open(file='./telecom.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline()
  linha = arquivo.readline()
  while linha:
    try:
      fatura = float(linha.strip().split(sep=',')[-3])
    except ValueError:
      print('Falha ao processar as faturas! Abortando o processamento.')
      break
    else:
      faturas.append(fatura)
    linha = arquivo.readline()

print(faturas)

Falha ao processar as faturas! Abortando o processamento.
[]

In [366]:
from functools import reduce

def processar_faturas(nome_arquivo: str):

  faturas = []

  with open(file=nome_arquivo, mode='r', encoding='utf8') as arquivo:
    linha = arquivo.readline()
    linha = arquivo.readline()
    while linha:
      try:
        fatura = float(linha.strip().split(sep=',')[-3])
      except ValueError as exc:
        raise ValueError(f'Falha ao processar as faturas devido ao seguinte erro: "{exc}"')
      else:
        faturas.append(fatura)
      linha = arquivo.readline()

  total_a_pagar = reduce(lambda x, y: x + y, faturas)
  total_a_pagar = round(total_a_pagar, 2)

  return total_a_pagar

In [367]:
try:
  total_a_pagar = processar_faturas(nome_arquivo='./telecom.csv')
except Exception as exc:
  print(exc)
else:
  print(total_a_pagar)

Falha ao processar as faturas devido ao seguinte erro: "could not convert string to float: 'Credit card (automatic)'"

<img src="Group.png" alt="ebac-logo">

---

# **Módulo 09** | Python: Scripting
Caderno de **Aula**<br> 
Desenvolvedor [Enzo Schitini](https://enzo-schitini.bubbleapps.io/version-test/)

---

# **Tópicos**

<ol type="1">
  <li>Instalando o Python na própria máquina;</li>
  <li>Executando código Python no terminal;</li>
  <li>Criando arquivos de script Python.</li>
</ol>

---

# **Aulas**

## 1\. Instalando o Python na própria máquina

### **1.1. Google Colab**

Python e o PIP já vem instalado na máquina virtual provisionada.

**Exemplo:** Conferir a versão do Python via Python.

In [368]:
import platform

In [369]:
print(platform.python_version())

3.11.7

In [370]:
print(platform.system())

Windows

**Exemplo:** Conferir a versão do Python via Bash (linguagem nativa do Linux).

In [371]:
!python -V

Python 3.11.7

**Exemplo:** Conferir a versão do PIP via Bash (linguagem nativa do Linux).

In [372]:
!pip -V

pip 23.3.1 from C:\Users\Enzo Schitni\anaconda3\Lib\site-packages\pip (python 3.11)

### **1.2. Máquina Local**

Verifique se você já tem o Python e o PIP instalado na sua máquina. Para verificar a instalação, abrir o terminal (windows `cmd` ou linux/macos `terminal`) e executar o seguinte comando.

```shell
python -V
pip -V
```

Se não o tiver instalado, acessar o site oficial do Python ([link](https://www.python.org/)) e instalar o software para o seu sistema operacional. Um excelente tutorial se encontra neste [link](https://realpython.com/installing-python/). Para verificar a instalação, abrir o terminal (windows `cmd` ou linux/mcos `terminal`) e executar o seguinte comando.

```shell
python -V
pip -V
```

## 2\. Executando código Python no terminal

### **2.1. Google Colab**

O software do Python já vem "aberto" para ser utilizado.

In [373]:
from datetime import datetime

print(datetime.now().year)

2024

### **2.2. Máquina Local**



1.   Criar uma pasta (sugestão);
2.   Abrir o terminal nesta pasta (windows `shift + right click` ou linux/macos `right click`);
3.   Executar o seguinte comando:

```shell
python
```

Para 'sair' do Python, basta fechar o terminal ou digitar o seguinte código:

```shell
quit()
```

## 3\. Criando arquivos de script Python

### **3.1. Google Colab**

1. Criar um arquivo de *script* com a extensão `py` seguindo as boas práticas do PEP 8 ([link](https://www.python.org/dev/peps/pep-0008/));
2. Executar com o seguinte comando:

```shell
!python arquivo.py
```

**Exemplo:** *Script* para extrair a taxa CDI do site da B3.

In [374]:
"""import os
import json
from datetime import datetime

import requests

URL = 'https://www2.cetip.com.br/ConsultarTaxaDi/ConsultarTaxaDICetip.aspx'

# Criando a variável data e hora 

data_e_hora = datetime.now()
data = datetime.strftime(data_e_hora, '%Y/%m/%d')
hora = datetime.strftime(data_e_hora, '%H:%M:%S')

# Captando a taxa CDI do site da B3

try:
  response = requests.get(URL)
  response.raise_for_status()
except requests.HTTPError as exc:
  print("Dado não encontrado, continuando.")
  cdi = None
except Exception as exc:
  print("Erro, parando a execução.")
  raise exc
else:
  dado = json.loads(response.text)
  cdi = float(dado['taxa'].replace(',', '.'))

# Verificando se o arquivo "taxa-cdi.csv" existe

if os.path.exists('./taxa-cdi.csv') == False:

  with open(file='./taxa-cdi.csv', mode='w', encoding='utf8') as fp:
    fp.write('data,hora,taxa\n')

# Salvando dados no arquivo "taxa-cdi.csv"

with open(file='./taxa-cdi.csv', mode='a', encoding='utf8') as fp:
  fp.write(f'{data},{hora},{cdi}\n')

print("Sucesso")"""

'import os\nimport json\nfrom datetime import datetime\n\nimport requests\n\nURL = \'https://www2.cetip.com.br/ConsultarTaxaDi/ConsultarTaxaDICetip.aspx\'\n\n# Criando a variável data e hora \n\ndata_e_hora = datetime.now()\ndata = datetime.strftime(data_e_hora, \'%Y/%m/%d\')\nhora = datetime.strftime(data_e_hora, \'%H:%M:%S\')\n\n# Captando a taxa CDI do site da B3\n\ntry:\n  response = requests.get(URL)\n  response.raise_for_status()\nexcept requests.HTTPError as exc:\n  print("Dado não encontrado, continuando.")\n  cdi = None\nexcept Exception as exc:\n  print("Erro, parando a execução.")\n  raise exc\nelse:\n  dado = json.loads(response.text)\n  cdi = float(dado[\'taxa\'].replace(\',\', \'.\'))\n\n# Verificando se o arquivo "taxa-cdi.csv" existe\n\nif os.path.exists(\'./taxa-cdi.csv\') == False:\n\n  with open(file=\'./taxa-cdi.csv\', mode=\'w\', encoding=\'utf8\') as fp:\n    fp.write(\'data,hora,taxa\n\')\n\n# Salvando dados no arquivo "taxa-cdi.csv"\n\nwith open(file=\'./taxa-cdi.csv\', mode=\'a\', encoding=\'utf8\') as fp:\n  fp.write(f\'{data},{hora},{cdi}\n\')\n\nprint("Sucesso")'

Vamos criar o arquivo de *script* `extrair-cdi.py`.

In [375]:
#!python extrair-cdi.py

**Exemplo:** Script com argumentos.

In [376]:
from sys import argv

print(argv)
print(type(argv))

['C:\\Users\\Enzo Schitni\\AppData\\Roaming\\Python\\Python311\\site-packages\\ipykernel_launcher.py', '--f="c:\\Users\\Enzo Schitni\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3907127fa7bf35dbff0f1802444020b2fd362f315.json"']
<class 'list'>

Vamos criar o arquivo de *script* `args.py`.

In [377]:
#!python args.py

**Exemplo:** *Script* para gerar um grafico da taxa CDI do site da B3.

In [378]:
"""import csv
from sys import argv

import seaborn as sns

# Extraindo as colunas hora e taxa

horas = []
taxas = []

with open(file='./taxa-cdi.csv', mode='r', encoding='utf8') as fp:
  linha = fp.readline()
  linha = fp.readline()
  while linha:
    linha_separada = linha.split(sep=',')
    hora = linha_separada[1]
    horas.append(hora)
    taxa = float(linha_separada[2])
    taxas.append(taxa)
    linha = fp.readline()

# Salvando no grafico

grafico = sns.lineplot(x=horas, y=taxas)
grafico.get_figure().savefig(f"{argv[1]}.png")"""

'import csv\nfrom sys import argv\n\nimport seaborn as sns\n\n# Extraindo as colunas hora e taxa\n\nhoras = []\ntaxas = []\n\nwith open(file=\'./taxa-cdi.csv\', mode=\'r\', encoding=\'utf8\') as fp:\n  linha = fp.readline()\n  linha = fp.readline()\n  while linha:\n    linha_separada = linha.split(sep=\',\')\n    hora = linha_separada[1]\n    horas.append(hora)\n    taxa = float(linha_separada[2])\n    taxas.append(taxa)\n    linha = fp.readline()\n\n# Salvando no grafico\n\ngrafico = sns.lineplot(x=horas, y=taxas)\ngrafico.get_figure().savefig(f"{argv[1]}.png")'

Vamos criar o arquivo de *script* `cdi-grafico.py`.

In [379]:
#!python cdi-grafico.py 'dia-10'

### **3.2. Máquina Local**

Mesma dinâmica!

### **3.3. Ferramenta de Desenvolvimento Local**

As IDEs (Integrated Development Environment) são ferramentas completas de desenvolvimento de código em software.

*   **PyCharm** da JetBrains ([link](https://www.jetbrains.com/));
*   **Visual Studio Code** da Microsoft ([link](https://code.visualstudio.com/)).