In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

sns.set_theme()  
%matplotlib inline

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,22-05-2023,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,22-05-2023,11,Graziana,B1,B135,Lunedì,Maggio,2023

# Dati

In [2]:
df = pd.read_csv('./Lezioni.csv')

In [3]:
#df = df[df[' Professoressa'] == ' Chiara']

In [4]:
#df = df[(df['Index'] >= 100) & (df['Index'] <= 154)]

In [5]:
righe, colonne = df.shape

In [6]:
def guia(data_frame):
    linhas, qnt_colunas = data_frame.shape
    sequencia = list(range(qnt_colunas + 1))
    sequencia = sequencia[1:]

    colunas = data_frame.columns.to_list()
    lista_tipos = [str(type(data_frame[col][0])).split("'")[1] for col in data_frame.columns]
    lista_categorias = [data_frame[col].nunique() for col in data_frame.columns]

    elementos_nulos = data_frame.isnull().sum()
    elementos_nulos = elementos_nulos.to_list()

    percentual_dados_nulos = round((data_frame.isnull().sum() / linhas) * 100)
    percentual_dados_nulos = percentual_dados_nulos.to_list()

    dados = pd.DataFrame({'Nome': colunas, 
                          'Tipo': lista_tipos, 
                          'qnt_categorias': lista_categorias,
                          'Dados nulos' : elementos_nulos,
                          'Dados nulos %' : percentual_dados_nulos}, index=sequencia)
    
    # Cabeçalhos
    print('Tabela Exploratória')
    print(f'Nesses dados temos {linhas} linhas e {qnt_colunas} colunas.')
    
    return dados

guia_df = guia(df)
guia_df.head(10)

Tabela Exploratória
Nesses dados temos 206 linhas e 10 colunas.

,Nome,Tipo,qnt_categorias,Dados nulos,Dados nulos %
1,Unnamed: 0,numpy.int64,206,0,0.0
2,Index,numpy.int64,206,0,0.0
3,Data,str,139,0,0.0
4,Ora,numpy.int64,8,0,0.0
5,Professoressa,str,43,0,0.0
6,Livello,str,3,0,0.0
7,Lezione,str,86,0,0.0
8,Giorno della settimana,str,7,0,0.0
9,Mese,str,10,0,0.0
10,Anno,numpy.int64,2,0,0.0

In [7]:
df = df.drop('Unnamed: 0', axis=1)

# Tabella

In [8]:
df.head()

,Index,Data,Ora,Professoressa,Livello,Lezione,Giorno della settimana,Mese,Anno
0,1,2023-05-22,8,Virginia,B1,B132,Lunedì,Maggio,2023
1,2,2023-05-22,11,Graziana,B1,B135,Lunedì,Maggio,2023
2,3,2023-05-23,10,Francesca,C1,C123,Martedì,Maggio,2023
3,4,2023-05-23,11,Sara,B1,B143,Martedì,Maggio,2023
4,5,2023-05-24,10,Alice,B1,B141,Mercoledì,Maggio,2023

In [9]:
def data_finiziale_finale(dat_frame, dfi):
    if dfi == 0:
        dt_iniziale = dat_frame.head(1)
        dt_iniziale = dt_iniziale['Data'].to_list()
        dt_iniziale = dt_iniziale[0]
        
        return dt_iniziale
    
    elif dfi == 1:
        dt_finale = dat_frame.tail(1)
        dt_finale = dt_finale['Data'].to_list()
        dt_finale = dt_finale[0]

        return dt_finale

# Durata

In [10]:
# Definisci le date

data1 = datetime.strptime(data_finiziale_finale(df, 0), '%d-%m-%Y')
data2 = datetime.strptime(data_finiziale_finale(df, 1), '%d-%m-%Y')

# Calcola la differenza tra le date
diff = data2 - data1

print(f"Il numero di giorni tra il {data_finiziale_finale(df, 0)} e il {data_finiziale_finale(df, 1)} è {diff.days}.")

ValueError: time data '2023-05-22' does not match format '%d-%m-%Y'

In [ ]:
df_categoricos = df.select_dtypes('object')
df_categoricos

In [ ]:
df_categoricos.describe().transpose() # freq / count = %

In [ ]:
df_numericos = df.select_dtypes('number')
df_numericos.drop('Index', axis=1).select_dtypes('number').describe().transpose()

In [ ]:
189 / 219

In [ ]:
df.columns

In [ ]:
plt.close('all')
plt.rc('figure', figsize=(23, 8))
fig, axes = plt.subplots(2, 2)

sns.countplot(ax = axes[0, 0], x='Ora', data=df)
sns.countplot(ax = axes[0, 1], x='Livello', data=df)
sns.countplot(ax = axes[1, 0], x='Mese', data=df)
sns.countplot(ax = axes[1, 1], x='Giorno della settimana', data=df)

plt.savefig('Grafici')

# Grafici

In [ ]:
numero_di_barre = 15
sns.countplot(x='Professoressa', data=df, order=df['Professoressa'].value_counts().iloc[:numero_di_barre].index)
plt.savefig('Insegnanti')

In [ ]:
import pandas as pd

# Creare un dataframe di esempio
df = pd.DataFrame({'date': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-01-30', '2021-01-31'],
                   'value': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]})

# Convertire la colonna 'date' in tipo datetime
df['date'] = pd.to_datetime(df['date'])

# Raggruppare i dati per settimana e calcolare la media della colonna 'value'
weekly_avg = df.resample('W', on='date')['value'].mean()

print(weekly_avg)

In [ ]:
sns.countplot(x='Professoressa', data=df, order=df['Professoressa'].value_counts().sort_values(ascending=True).iloc[:15].index)

In [ ]:
numero_di_barre = 15
sns.countplot(x='Lezione', data=df, order=df['Lezione'].value_counts().iloc[:numero_di_barre].index)
plt.savefig('Lezioni più frequenti')

In [ ]:
numero_di_barre = 15
sns.countplot(x='Data', data=df, order=df['Data'].value_counts().iloc[:numero_di_barre].index)
plt.savefig('Immersioni')

# Fine

In [ ]:
#df.groupby(['Mese', 'Livello'])['Index'].count().unstack().plot(figsize=[15,5]);