In [255]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [256]:
df = pd.read_csv('pib.csv')
df.head()

   Unnamed: 0.1  Unnamed: 0       Cidade   Valor do PIB       Região
0             0           0  Porto Velho       17912070  Porto Velho
1             1           1    Ji-Paraná        3783972    Ji-Paraná
2             2           2      Vilhena        2831175      Vilhena
3             3           3    Ariquemes        2579830    Ariquemes
4             4           4       Cacoal        2261644       Cacoal

In [257]:
intermediarias = {
    "Candeias do Jamari": "Porto Velho",
    "Guajará-Mirim": "Porto Velho",
    "Itapuã do Oeste": "Porto Velho",
    "Nova Mamoré": "Porto Velho",
    "Porto Velho": "Porto Velho",

    "Ariquemes": "Ariquemes",
    "Alto Paraíso": "Ariquemes",
    "Ariquemes": "Ariquemes",
    "Buritis": "Ariquemes",
    "Cacaulândia": "Ariquemes",
    "Campo Novo de Rondônia": "Ariquemes",
    "Cujubim": "Ariquemes",
    "Monte Negro": "Ariquemes",
    "Rio Crespo": "Ariquemes",

    "Jaru": "Jaru",
    "Governador Jorge Teixeira": "Jaru",
    "Machadinho D'Oeste": "Jaru",
    "Theobroma": "Jaru",
    "Vale do Anari": "Jaru",

    "Alvorada D'Oeste": "Ji-Paraná",
    "Costa Marques": "Ji-Paraná",
    "Ji-Paraná": "Ji-Paraná",
    "Mirante da Serra": "Ji-Paraná",
    "Nova União": "Ji-Paraná",
    "Ouro Preto do Oeste": "Ji-Paraná",
    "Presidente Médici": "Ji-Paraná",
    "São Francisco do Guaporé": "Ji-Paraná",
    "São Miguel do Guaporé": "Ji-Paraná",
    "Seringueiras": "Ji-Paraná",
    "Teixeirópolis": "Ji-Paraná",
    "Urupá": "Ji-Paraná",
    "Vale do Paraíso": "Ji-Paraná",

    "Cacoal": "Cacoal",
    "Alta Floresta D'Oeste": "Cacoal",
    "Alto Alegre dos Parecis": "Cacoal",
    "Castanheiras": "Cacoal",
    "Espigão D'Oeste": "Cacoal",
    "Ministro Andreazza": "Cacoal",
    "Nova Brasilândia D'Oeste": "Cacoal",
    "Novo Horizonte do Oeste": "Cacoal",
    "Parecis": "Cacoal",
    "Pimenta Bueno": "Cacoal",
    "Primavera de Rondônia": "Cacoal",
    "Rolim de Moura": "Cacoal",
    "Santa Luzia D'Oeste": "Cacoal",
    "São Felipe D'Oeste": "Cacoal",

    "Vilhena": "Vilhena",
    "Cabixi": "Vilhena",
    "Cerejeiras": "Vilhena",
    "Chupinguaia": "Vilhena",
    "Colorado do Oeste": "Vilhena",
    "Corumbiara": "Vilhena",
    "Pimenteiras do Oeste": "Vilhena"
}

In [258]:
def regiao(valore):
    if valore in intermediarias:
        nome = intermediarias[valore]
        nome = str(nome)
        return nome

regiao('Theobroma')

'Jaru'

In [259]:
df['Região'] = df['Cidade'].apply(regiao)

In [260]:
posizioni = []

In [261]:
def status(valore):
    if (valore >= 1) & (valore <= 8):
        return 'Acima de 1 Bilhão'
    elif (valore >= 9) & (valore <= 17):
        return 'Acima de 500 Milhões'
    elif (valore >= 18) & (valore <= 24):
        return 'Acima de 300 Milhões'
    elif (valore >= 25) & (valore <= 28):
        return 'Acima de 200 Milhões'
    elif (valore >= 29) & (valore <= 44):
        return 'Acima de 100 Milhões'
    else:
        return 'Até 100 Milhões'

In [262]:
df.head()

   Unnamed: 0.1  Unnamed: 0       Cidade   Valor do PIB       Região
0             0           0  Porto Velho       17912070  Porto Velho
1             1           1    Ji-Paraná        3783972    Ji-Paraná
2             2           2      Vilhena        2831175      Vilhena
3             3           3    Ariquemes        2579830    Ariquemes
4             4           4       Cacoal        2261644       Cacoal

In [263]:
df = df.rename(columns={'Unnamed: 0':'Posição'})

In [264]:
df.head()

   Unnamed: 0.1  Posição       Cidade   Valor do PIB       Região
0             0        0  Porto Velho       17912070  Porto Velho
1             1        1    Ji-Paraná        3783972    Ji-Paraná
2             2        2      Vilhena        2831175      Vilhena
3             3        3    Ariquemes        2579830    Ariquemes
4             4        4       Cacoal        2261644       Cacoal

In [265]:
df['Status'] = df['Posição'].apply(status)

In [266]:
df.columns

Index(['Unnamed: 0.1', 'Posição', 'Cidade', ' Valor do PIB', 'Região',
       'Status'],
      dtype='object')

In [267]:
df = df[['Posição', 'Cidade', ' Valor do PIB', 'Região',
       'Status']]

In [268]:
df.head()

   Posição       Cidade   Valor do PIB       Região             Status
0        0  Porto Velho       17912070  Porto Velho    Até 100 Milhões
1        1    Ji-Paraná        3783972    Ji-Paraná  Acima de 1 Bilhão
2        2      Vilhena        2831175      Vilhena  Acima de 1 Bilhão
3        3    Ariquemes        2579830    Ariquemes  Acima de 1 Bilhão
4        4       Cacoal        2261644       Cacoal  Acima de 1 Bilhão

In [269]:
df.to_csv('pib.csv')