# Data Science
Qui imparerai a migliorare i dati scaricati

<img src="https://raw.githubusercontent.com/enzoschitini/Adige/main/image/Group.png" alt="capa">

---

# **Bem-Vindo(a)!** • Veja o que eu fiz de melhor com cientista de dados
**+ 18** Projetos 
#### [Enzo Schitini](https://www.linkedin.com/in/enzoschitini/) - Data Scientist • Expert Bubble.io • UX & UI @ Nugus creator

---

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv('LivestockMeat_Imports.csv')
df.head(n=5)

,SOURCE_ID,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT
0,58,102902011.0,"Cows, live, imported for dairy purposes, weigh...",1220,Canada,"US Import, QTY",NO,2001,4,36.0
1,58,102902011.0,"Cows, live, imported for dairy purposes, weigh...",1220,Canada,"US Import, QTY",NO,2001,11,20.0
2,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,1996,3,12.0
3,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,2000,5,77.0
4,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,2000,6,99.0

### Memoria

In [46]:
def guida(data_frame): 
    righe, qnt_colonne = data_frame.shape
    sequenza = list(range(qnt_colonne + 1))
    sequenza = sequenza[1:]

    colonne = data_frame.columns.to_list()
    types_list = [str(type(data_frame[col][0])).split("'")[1] for col in data_frame.columns]
    lista_categorie = [data_frame[col].nunique() for col in data_frame.columns]

    elementi_nulli = data_frame.isnull().sum()
    elementi_nulli = elementi_nulli.to_list()

    memory = (data_frame.memory_usage(deep=True) / (1024 ** 2)).round() # Mb
    memory_list = memory.to_list()
    memory_list = memory_list[1:]

    memory = data_frame.memory_usage(deep=True) # Totale Mb
    memory_totale = round(memory.sum() / (1024 ** 2), 2)

    percentuale_dati_nulli = round((data_frame.isnull().sum() / righe) * 100)
    percentuale_dati_nulli = percentuale_dati_nulli.to_list()

    data = pd.DataFrame({'Nome': colonne, 
                         'Tipo': types_list, 
                         'qunt_categorie': lista_categorie,
                         'Dati nulli' : elementi_nulli,
                         'Dati nulli %' : percentuale_dati_nulli,
                         'Memoria (Mb)': memory_list}, index=sequenza)
    
    # Intestazioni
    print('Teabella Esplorativa')
    print(f'In questi dati abbiamo {righe} righe e {qnt_colonne} colonne.')
    print(f'Consumassione di memoria: {memory_totale}Mb.')
    
    return data

guida(df)

Teabella Esplorativa
In questi dati abbiamo 294551 righe e 10 colonne.
Consumassione di memoria: 97.94Mb.

,Nome,Tipo,qunt_categorie,Dati nulli,Dati nulli %,Memoria (Mb)
1,SOURCE_ID,numpy.int64,1,0,0.0,2.0
2,HS_CODE,numpy.float64,209,57386,19.0,2.0
3,COMMODITY_DESC,str,221,0,0.0,30.0
4,GEOGRAPHY_CODE,numpy.int64,121,0,0.0,2.0
5,GEOGRAPHY_DESC,str,121,0,0.0,18.0
6,ATTRIBUTE_DESC,str,1,0,0.0,20.0
7,UNIT_DESC,str,4,0,0.0,17.0
8,YEAR_ID,numpy.int64,35,0,0.0,2.0
9,TIMEPERIOD_ID,numpy.int64,12,0,0.0,2.0
10,AMOUNT,numpy.float64,204930,0,0.0,2.0

In [47]:
df.memory_usage(deep=True) / (1024 ** 2)

Index              0.000126
SOURCE_ID          2.247246
HS_CODE            2.247246
COMMODITY_DESC    29.873706
GEOGRAPHY_CODE     2.247246
GEOGRAPHY_DESC    17.925550
ATTRIBUTE_DESC    19.944306
UNIT_DESC         16.708318
YEAR_ID            2.247246
TIMEPERIOD_ID      2.247246
AMOUNT             2.247246
dtype: float64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294551 entries, 0 to 294550
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SOURCE_ID       294551 non-null  int64
 1   HS_CODE         237165 non-null  float64
 2   COMMODITY_DESC  294551 non-null  object
 3   GEOGRAPHY_CODE  294551 non-null  int64
 4   GEOGRAPHY_DESC  294551 non-null  object
 5   ATTRIBUTE_DESC  294551 non-null  object
 6   UNIT_DESC       294551 non-null  object
 7   YEAR_ID         294551 non-null  int64
 8   TIMEPERIOD_ID   294551 non-null  int64
 9   AMOUNT          294551 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 22.5+ MB

In [49]:
memory = df.memory_usage(deep=True)
memory_list = memory.to_list()
memory_list

[132,
 2356408,
 2356408,
 31324851,
 2356408,
 18796301,
 20913121,
 17519941,
 2356408,
 2356408,
 2356408]

In [50]:
memory_totale = round(memory.sum() / (1024 ** 2), 2)
memory_totale

97.94

In [51]:
memory / memory.sum() * 100

Index              0.000129
SOURCE_ID          2.294619
HS_CODE            2.294619
COMMODITY_DESC    30.503456
GEOGRAPHY_CODE     2.294619
GEOGRAPHY_DESC    18.303427
ATTRIBUTE_DESC    20.364740
UNIT_DESC         17.060536
YEAR_ID            2.294619
TIMEPERIOD_ID      2.294619
AMOUNT             2.294619
dtype: float64

In [52]:
df['UNIT_DESC'].value_counts()

UNIT_DESC
KG     136678
CWE    124041
DOZ     17391
NO      16441
Name: count, dtype: int64

In [53]:
df['UNIT_DESC'] = df['UNIT_DESC'].astype('category')
df['UNIT_DESC'].dtype

CategoricalDtype(categories=['CWE', 'DOZ', 'KG', 'NO'], ordered=False, categories_dtype=object)

In [54]:
memory = df.memory_usage(deep=True)
memory

Index                  132
SOURCE_ID          2356408
HS_CODE            2356408
COMMODITY_DESC    31324851
GEOGRAPHY_CODE     2356408
GEOGRAPHY_DESC    18796301
ATTRIBUTE_DESC    20913121
UNIT_DESC           294961
YEAR_ID            2356408
TIMEPERIOD_ID      2356408
AMOUNT             2356408
dtype: int64

In [55]:
memory.sum() / (1024 ** 2)

81.50845909118652

In [56]:
df.to_parquet('df.parquet')

In [57]:
data = pd.read_parquet('df.parquet')
data.head()

,SOURCE_ID,HS_CODE,COMMODITY_DESC,GEOGRAPHY_CODE,GEOGRAPHY_DESC,ATTRIBUTE_DESC,UNIT_DESC,YEAR_ID,TIMEPERIOD_ID,AMOUNT
0,58,102902011.0,"Cows, live, imported for dairy purposes, weigh...",1220,Canada,"US Import, QTY",NO,2001,4,36.0
1,58,102902011.0,"Cows, live, imported for dairy purposes, weigh...",1220,Canada,"US Import, QTY",NO,2001,11,20.0
2,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,1996,3,12.0
3,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,2000,5,77.0
4,58,102100050.0,"Bovine animals, purebred breeding, except dair...",2010,Mexico,"US Import, QTY",NO,2000,6,99.0