# Tratamento de Dados

<p>Neste exemplo estaremos realizando uma analise dos dados e realizando um tratamento de dados em algumas variávels que necessitam de tratamento. <br>
<p>Realizaremos um tratamento dos dados visando a preparação para uma futura criação de um modelo preditivo de machine learning.

In [1]:
# A primeira coisa que temos que fazer é importar os pacotes que iremos utilizar.
# Obs.: Pacotes do Python são conjuntos de funcionalidades disponíveis da ferramenta.

#Pandas: Possui inúmeras funções e comandos para importar arquivos, analisar dados, tratar dados, etc.
import pandas as pd

#Matplotlib: Possui uma série de funções e comandos para exibição de gráficos
import matplotlib.pyplot as plt

#Seaborn: Possui uma série de funções e comandos para exibição de gráficos (Visualizações mais robustas do que o Matplotlib)
import seaborn as sns

#Numpy: Possui uma série de funções e comandos para trabalharmos com números de forma em geral(formatação, calculos, etc)
import numpy as np

#Warnings: Possui detalhes sobre os avisos e alertas que aparecem, porém podemos utiliza-lo também para que os alertas de
#futuras atualizações e metodos depreciados não sejam exibidos
import warnings
warnings.filterwarnings("ignore") 

# Locale: Utilizado para formatação de datas, valores, dias de acordo com a região que queremos.
import locale

In [2]:
#Comando para exibir todas colunas do arquivo
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#Comando utilizado para carregar o arquivo e armazena-lo como um DataFrame do Pandas
#Um DataFrame do Pandas é como se fosse uma planilha do Excel, onde podemos tratar linhas e colunas.
df_dados = pd.read_excel("dados.xlsx")

In [4]:
#Comando utilizado para verificar a quantidade de linhas e colunas do arquivo
#Colunas também são chamadas de variáveis.
df_dados.shape

(986, 10)

In [5]:
#Comando utilizado para verificar as linhas iniciais do DataFrame
df_dados.head()

,DATA_VENDA,MODELO,KM-LITRO,CILINDROS,PESO(KG),VELOCIDADE_MAXIMA(KM/H),CAVALOS,TRANSMISSAO,VALOR,CATEGORIA
0,10/1/2020,LABORGUINI,3.0,12,1200,360,700,AUTOMATICO,50000000,IMPORTADO
1,10/1/2020,LABORGUINI,3.0,12,1200,360,700,AUTOMATICO,50000000,IMPORTADO
2,10/1/2020,LABORGUINI,3.0,12,1200,360,700,AUTOMATICO,900000,IMPORTADO
3,10/1/2020,FERRARI,3.0,12,1400,360,640,AUTOMATICO,900000,IMPORTADO
4,10/1/2020,ASTON MARTIN,3.5,10,1600,360,620,AUTOMATICO,900000,IMPORTADO

In [6]:
#Comando utilizado para verificar as linhas finais do DataFrame
df_dados.tail()

,DATA_VENDA,MODELO,KM-LITRO,CILINDROS,PESO(KG),VELOCIDADE_MAXIMA(KM/H),CAVALOS,TRANSMISSAO,VALOR,CATEGORIA
981,10/12/2021,HONDA FIT,12.0,4,1700,200,116,AUTOMATICO,120000,NACIONAL
982,10/12/2021,PALIO,11.0,4,1700,200,118,MANUAL,60000,NACIONAL
983,10/12/2021,UNO,13.5,4,1700,200,118,MANUAL,48000,NACIONAL
984,10/12/2021,MOBI,14.0,4,1700,200,118,MANUAL,42000,NACIONAL
985,10/12/2021,PASSAT,8.0,6,1800,200,118,MANUAL,200000,IMPORTADO

In [7]:
#Avaliar o período dos dados coletados
inicio = pd.to_datetime(df_dados['DATA_VENDA']).dt.date.min()
fim = pd.to_datetime(df_dados['DATA_VENDA']).dt.date.max()
print('Período dos dados - De:', inicio, 'Até:',fim)

Período dos dados - De: 2020-10-01 Até: 2021-10-12

In [8]:
#Comando utilizado para verificar informações sobre os dados(Tipo de variáveis, Variáveis, Quantidade de registros, etc)

#Neste caso a variavel DATA_VENDA deve ser do tipo Date e a variavel VALOR do tipo Float. Precisamos tratar essas variáveis.

df_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DATA_VENDA               986 non-null    object
 1   MODELO                   986 non-null    object
 2   KM-LITRO                 984 non-null    float64
 3   CILINDROS                986 non-null    int64
 4   PESO(KG)                 986 non-null    int64
 5   VELOCIDADE_MAXIMA(KM/H)  986 non-null    int64
 6   CAVALOS                  986 non-null    int64
 7   TRANSMISSAO              986 non-null    object
 8   VALOR                    986 non-null    object
 9   CATEGORIA                986 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 77.2+ KB

In [9]:
# Dessa forma podemos agrupar os valores e identificar se há algum valor discrepante.
# Observe que há um valor que foi inserido como "SEM VALOR"
df_dados.groupby(['VALOR']).size()

VALOR
18000         48
28000         42
30000         24
35000         42
40000         30
42000         66
48000         66
60000         66
85000         36
110000        24
120000        66
150000        36
200000        65
220000        36
280000        66
400000        36
800000        66
900000       168
50000000       2
SEM VALOR      1
dtype: int64

In [10]:
# Aqui poderíamos resolver de duas formas.

# A primeira forma seria excluir todo o registro, mas estariamos perdendo dados.
#df_dados.drop(df_dados.loc[df_dados['VALOR']=='SEM VALOR'].index, inplace=True)


# A segunda forma seria verificar o valor médio ou da mediana deste modelo e substituir a palavra SEM VALOR para um valor médio.
df_dados.loc[df_dados['VALOR'] == 'SEM VALOR']

,DATA_VENDA,MODELO,KM-LITRO,CILINDROS,PESO(KG),VELOCIDADE_MAXIMA(KM/H),CAVALOS,TRANSMISSAO,VALOR,CATEGORIA
45,10/3/2020,PASSAT,8.0,6,1800,200,118,MANUAL,SEM VALOR,IMPORTADO

In [11]:
# Agora substituimos a palavra SEM VALOR pelo valor ZERO
df_dados.loc[(df_dados['VALOR'] == 'SEM VALOR'), 'VALOR'] = 0

In [12]:
# Em seguida convertemos o campo em float
df_dados['VALOR'] = df_dados['VALOR'].astype(np.float64)

In [13]:
# Verificamos os valores medianos da coluna modelo para substituir o valor ZERO
df_dados.loc[df_dados['MODELO'] == 'PASSAT'].median()

TypeError: Cannot convert [['10/1/2020' '10/3/2020' '10/3/2020' '10/4/2020' '10/5/2020' '10/5/2020'
  '10/6/2020' '10/6/2020' '10/6/2020' '10/7/2020' '10/7/2020' '10/8/2020'
  '10/8/2020' '10/8/2020' '10/8/2020' '10/9/2020' '10/9/2020' '10/9/2020'
  '10/9/2020' '10/10/2020' '10/10/2020' '10/10/2020' '10/10/2020'
  '10/10/2020' '10/11/2020' '10/11/2020' '10/12/2020' '10/12/2020'
  '10/12/2020' '10/12/2020' '10/2/2021' '10/3/2021' '10/3/2021'
  '10/3/2021' '10/4/2021' '10/5/2021' '10/5/2021' '10/6/2021' '10/6/2021'
  '10/7/2021' '10/7/2021' '10/8/2021' '10/8/2021' '10/8/2021' '10/8/2021'
  '10/8/2021' '10/8/2021' '10/9/2021' '10/10/2021' '10/10/2021'
  '10/10/2021' '10/10/2021' '10/10/2021' '10/10/2021' '10/10/2021'
  '10/11/2021' '10/11/2021' '10/11/2021' '10/12/2021' '10/12/2021'
  '10/12/2021' '10/12/2021' '10/12/2021' '10/12/2021' '10/12/2021'
  '10/12/2021']
 ['PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT' 'PASSAT'
  'PASSAT' 'PASSAT']
 ['MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL' 'MANUAL'
  'MANUAL' 'MANUAL']] to numeric

In [ ]:
# Aqui atualizamos o valor conforme a mediana daquele modelo
df_dados.loc[(df_dados['VALOR'] == 200000), 'VALOR'] = 0

In [ ]:
# Comando utilizado para avaliar se alguma variável possui valor nulo ou chamado de valores missing ou NAN (Not Available)
df_dados.isnull().sum()

In [ ]:
# Agora iremos tratar os valores missing, ou seja, os registros que não possuem valores.
# Uma forma bem mais simples de tratarmos o dado é utilizar direto a função FILLNA preenchendo os valores em branco 
# com a mediana
df_dados['KM-LITRO'] = df_dados['KM-LITRO'].fillna((df_dados['KM-LITRO'].median()))

In [ ]:
# Observe agora que não temos mais nenhum valor em branco
df_dados.isnull().sum()

In [ ]:
# Vamos avaliar novamente os tipos das variaveis
df_dados.info()

In [ ]:
# Agora iremos avaliar os outliers das colunas que são númericas
# OUTLIERS são valores discrepantes que estão bem acima ou bem abaixo dos outros valores

# Vamos carregar em uma lista as variaveis que são do tipo INT64 E FLOAT64
variaveis_numericas = []
for i in df_dados.columns[0:48].tolist():
        if df_dados.dtypes[i] == 'int64' or df_dados.dtypes[i] == 'float64':            
            print(i, ':' , df_dados.dtypes[i]) 
            variaveis_numericas.append(i)

In [ ]:
# Vamos observar a lista de variáveis e avaliar se nestas variáveis temos outliers através de um boxplot
variaveis_numericas

In [ ]:
# Com este comando iremos exibir todos gráficos de todas colunas de uma vez só para facilitar nossa analise.

# Aqui definimos o tamanho da tela para exibição dos gráficos
plt.rcParams["figure.figsize"] = [12.00, 14.00]
plt.rcParams["figure.autolayout"] = True

# Aqui definimos em quantas linhas e colunas queremos exibir os gráficos
f, axes = plt.subplots(3, 2) #3 linhas e 2 colunas

linha = 0
coluna = 0

for i in variaveis_numericas:
    sns.boxplot(data = df_dados, y=i, ax=axes[linha][coluna])
    coluna += 1
    if coluna == 2:
        linha += 1
        coluna = 0            

plt.show()


# Boxplots
# Boxplot é utilizado para avaliar e comparar o formato, tendência central e variabilidade de distribuições de amostra, 
# e para procurar por outliers. Por padrão, um boxplot demonstra a mediana, os quartis, 
# o intervalo interquartil(IQR) e outliers para cada variável. 

# Outlier são valores que estão bem discrepantes dentro do conjunto de dados, podem ser para mais ou para menos. 
# Observe nos DOIS ULTIMOS boxplot que há os pontinhos acima das linhas. Esses valores são outliers

In [ ]:
# Agora já sabemos que temos OUTLIERS nas variáveis CAVALOS e VALOR. Vamos olhar quais são esses outliers para avaliar
# como iremos trata-los.

# Como no boxplot acima mostra que o maior número de cavalos está em torno de 700, então iremos listar os casos acima de 700
# Observe que após listarmos só temos um registro com OUTLIER.

df_dados.loc[df_dados['CAVALOS'] > 700]

In [ ]:
# Nesse exemplo vamos excluir o registro todo.
df_dados.drop(df_dados.loc[df_dados['CAVALOS'] == 1800].index, inplace=True)

In [ ]:
# Agora para a variavel VALOR vamos listar os valores maiores que 900.000
# Observe que temos dois registros considerados outlier, ou seja, o valor está muito acima do normal.

# Neste caso vamos substituir os valores pelo valor médio do modelo LAMBORGUINI.

df_dados.loc[df_dados['VALOR'] > 900000]

In [ ]:
# Vamos identificar o valor mediana do modelo LAMBORGUINI

df_dados.loc[df_dados['MODELO'] == 'LABORGUINI'].median()

In [ ]:
# Aqui atualizamos o valor conforme a mediana daquele modelo
df_dados.loc[(df_dados['VALOR'] > 900000), 'VALOR'] = 900000

In [ ]:
# Vamos avaliar novamente os boxplot e verificar se ficou algum OUTLIER
# Observe que na coluna cavalos de potencia ainda possuem alguns OUTLIERS porém nesse caso, olhando para o modelos dos carros
# podemos observar que realmente é a potencia deles. Nesse caso podemos mante-los.

# Aqui definimos o tamanho da tela para exibição dos gráficos
plt.rcParams["figure.figsize"] = [12.00, 14.00]
plt.rcParams["figure.autolayout"] = True

# Aqui definimos em quantas linhas e colunas queremos exibir os gráficos
f, axes = plt.subplots(3, 2) #3 linhas e 2 colunas

linha = 0
coluna = 0

for i in variaveis_numericas:
    sns.boxplot(data = df_dados, y=i, ax=axes[linha][coluna])
    coluna += 1
    if coluna == 2:
        linha += 1
        coluna = 0            

plt.show()

# Engenharia de Atributos
<p> A engenharia de atributos em resumo utilizarmos uma variavel existente e extrairmos mais informações dessa variável, podendo gerar novas variáveis para analise a partir desta variável existente.<br>
<p> No exemplo abaixo iremos utilizar a variavel DATA_VENDA e criar variaveis como Ano, Mês e Dia

In [ ]:
# Agora vamos tratar a variavel DATA_VENDA
# Aqui iremos fazer um tratamento para transformar o campo para o tipo DATE e também incluirmos novas variáveis a partir da data
# Vamos incluir as variaveis separadas, ANO, MES e DIA
# Vamos também incluir a variavel DIA_SEMANA e avaliarmos qual dia da semana temos mais vendas.

locale.setlocale(locale.LC_ALL, 'pt_BR.utf8')

df_dados['DATA_VENDA'] =  pd.to_datetime(df_dados['DATA_VENDA'], format='%d/%m/%Y')
df_dados['DATA_VENDA'] = df_dados['DATA_VENDA'].dt.date
df_dados['ANO_VENDA'] = pd.DatetimeIndex(df_dados['DATA_VENDA']).year
df_dados['MES_VENDA'] = pd.DatetimeIndex(df_dados['DATA_VENDA']).month
df_dados['DIA_VENDA'] = pd.DatetimeIndex(df_dados['DATA_VENDA']).day
df_dados['DIA_SEMANA_VENDA'] = pd.DatetimeIndex(df_dados['DATA_VENDA']).day_name(locale = 'pt_BR.utf8')


plt.rcParams["figure.figsize"] = [8.00, 8.00]
plt.rcParams["figure.autolayout"] = True
df_dados.DIA_SEMANA_VENDA.value_counts().plot(kind='bar', title='Vendas Por Dia da Semana',color = ['#1F77B4', '#FF7F0E']);

In [ ]:
# Também podemos observar as vendas por ano
df_dados.ANO_VENDA.value_counts().plot(kind='bar', title='Vendas Por Ano',color = ['#1F77B4', '#FF7F0E']);

# Variaveis Dummys ou One Hot Encoding
<p> Quando estamos fazendo o tratamento dos dados para criação de um modelo de Machine Learning ou IA precisamos deixar todos os dados como números.
<p> Para este processo utilizamos variaveis Dummys ou também as conhecidas como One Hot Encoding

In [ ]:
# Agora vou importar uma imagem para explicar o tratamento que iremos fazer das variaveis Dummys/One Hot Encoding
from IPython.display import Image
Image('exemplo.png')

In [ ]:
# Antes de gerar as variaveis dummys/one hot encoding vamos excluir as variaveis que não precisaremos mais.
# Neste caso vamos excluir a variavel DATA_VENDA, pois já geramos as variaveis separadas de ANO, MES e DIA
df_dados.drop('DATA_VENDA', axis=1, inplace=True)

In [ ]:
# Convert os campos categoricos para ONE HOT ENCODING
# A imagem abaixo explica de forma simples esse tratamento

df_dados = pd.get_dummies(df_dados)

In [ ]:
df_dados.head()

In [ ]:
# Pronto, agora já temos nosso conjunto de dados tratados.
# Vamos salvar esse conjunto de dados com todos tratamentos.
df_dados.to_excel('dados_com_tratamento.xlsx', index = False)